
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root {
    --primary: #007aff;
    --neutral: #091e42;
}

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0B172a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-weight: 600;
    color: var(--neutral);
}

.heading span {
    color: var(--primary);
}

.card {
    background-color: #ffffff;
    border-top: 5px solid orange;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    height: 400px;
    width: 340px;
    padding: 1.5rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 0;
    /* background-color: red; */
}

.result {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxController {
    display: flex;
    justify-content: space-between;
}

.resultTextarea {
    flex: 1;
    text-align: center;
    border: none;
    user-select: none;
    outline: none;
    resize: none;
    font-size: 1rem;
    /* height: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rangeController {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background-color: var(--primary, blue);
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    text-shadow: none;
    outline: none;
    user-select: none;
    width: 100%;
    margin-top: 12px;
}

.btn:hover {
    background-color: #006bdd;
}

.btn-secondary {
    background-color: #e2e8f0;
    color: #091e42;
    margin-right: 8px;
}

.btn-secondary:hover {
    background-color: #cbd5e0;
}
