*{
    overflow: hidden;
    margin: 0px;
    font-size: 16px;
}
body{
    background: linear-gradient(to left,rgb(0, 0, 121),80px,rgb(1, 2, 26));
    height: 100vh;
}
.earth{
    height:480px;
    position: relative;
    left: 980px;
}
.boxfather{
    position: absolute;
    top: 80%;
    left: 10%;
    display: flex;
    flex-flow: row;
    width: 800px;
    /* height: 100%; */
    justify-content:space-between;
    z-index: 10000;
}
.box1{
    height: 90px;
    /* top: -40px;
    left: 100px; */
    width: 250px;
    background-color: rgb(0, 0, 0);
    animation-name: working;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
}
.box2{
    height: 90px;
    /* top: -131px;
    left: 400px; */
    width: 250px;
    background-color: rgb(0, 0, 0);
    animation-name: nextone;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
}
.box3{
    height: 90px;
    /* top: -223px;
    left: 700px; */
    width: 250px;
    animation-name: lasta;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    background-color: rgb(0, 0, 0);
}
.lifestyle{
    box-sizing: border-box;
    position: relative;
    left: 80px;
    width: 100px;
    font-weight: bolder;
    font-size: 16px;
    top: 10px;
    margin-right: 0px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes working{
0%{
background-color: rgb(0, 0, 0);

}
50%{
background-color: rgb(0, 0, 0);

}
100%{
background-color: #FF6347;
color:whitesmoke;
}

}
@keyframes nextone{
0%{
background-color: rgb(0, 0, 0);

}
50%{
background-color: #FF6347;
color:whitesmoke;

}
100%{
background-color: black;
}

}
@keyframes lasta{
0%{
background-color: #FF6347;
color:whitesmoke;

}
50%{
background-color: black;


}
100%{
background-color: black;
}

}

.work{
    font-size: 29px;
    color: rgb(17, 100, 168);
    position: relative;
    top: 18px;
    left: 30px;
    font-weight: lighter;
    animation-name: work;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@keyframes work{
    0%{
        color: rgb(17, 100, 168);

}
50%{
color: rgb(17, 100, 168);
}
100%{
color:whitesmoke;
}

}
@keyframes bezar{
    0%{
        color: rgb(17, 100, 168);

}
50%{
color:whitesmoke;
}
100%{
color: rgb(17, 100, 168);
}

}
@keyframes marre{
    0%{
        color:whitesmoke;

}
50%{
color: rgb(17,100,168);
}
100%{
color: rgb(17, 100, 168);
}

}
.current{
    box-sizing: border-box;
    position: relative;
    left: 90px;
    width: 100px;
    font-weight: bolder;
    font-size: 16px;
    top: 10px;
    margin-right: 0px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bezar{
    font-size: 29px;
    color: rgb(17, 100, 168);
    position: relative;
    top: 18px;
    left: 30px;
    font-weight: lighter;
    animation-name: bezar;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.stud{
    box-sizing: border-box;
    position: relative;
    left: 90px;
    width: 100px;
    font-weight: bolder;
    font-size: 16px;
    top: 10px;
    margin-right: 0px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gelo{
    font-size: 29px;
    color: rgb(17, 100, 168);
    position: relative;
    top: 18px;
    left: 60px;
    animation-name: marre;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ufo{
    position: absolute;
    height: 100px;
    top: 10px;
    left: 780px;
    animation-name: ufonach;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
}
@keyframes ufonach{
    0%{

    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(26deg);
    }
}
.light{
    position: absolute;
    top: 104px; 
     left: 780px;  
    border-bottom: solid 380px rgb(251, 255, 4);
    border-left: solid 50px transparent;
    border-right: solid transparent 50px;
    opacity: .3;
    animation-name: light;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
}
   @keyframes light{
    0%{
        top: 94px; 
     left: 780px;  

    }
    50%{
        top: 70px;
    left: 630px;
    transform: rotate(38deg);
    border-bottom: solid 420px rgb(238, 255, 0);
    }
    100%{
        top: -60px;
    left: 480px;
    transform: rotate(56deg);
    border-bottom: solid 620px rgb(238, 255, 0);
    }
}   
.present{
    position: absolute;
    color: whitesmoke;
    font-size: 60px;
    animation-name: moves;
    margin-top: 20px;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes moves{
from{
    left: -200px;
}
to{
    left: 60px;
}

}
.holo{
    position: absolute;
    color: whitesmoke;
    font-size: 60px;
    left: 60px;
    top: 90px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bhit{
    background-color: transparent;
    height: 60px;
    width: 190px;
    top: 100px;
    position: absolute;
    left: 280px;
}
.htmll{
    font-size:45px;
    margin-left: 18px;
    margin-top: 8px;
    height: 60px;
    color: 	#00bfff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.clas{
    font-size:45px;
    margin-left: 18px;
    margin-top: 8px;
    height: 60px;
    color: 	#ffd700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.shub{
    font-size:45px;
    margin-left: 18px;
    margin-top: 8px;
    height: 60px;
    color: 	#ff4500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.fuck{
    font-size:45px;
    margin-left: 18px;
    margin-top: 8px;
    height: 60px;
    color: 	#98fb98;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.fite{
    font-size:45px;
    margin-left: 18px;
    margin-top: 8px;
    height: 60px;
    color: 	#ba55d3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.mo{
    height: 360px;
    background-color: transparent;
    /* animation-name: katmam;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 15s; */
}
/* @keyframes katmam{
    0%{

    }
    20%{
        margin-top: -65px;
    }
    40%{
        margin-top: -145px;
    }
    60%{
    margin-top: -215px;
    }
    80%{
        margin-top: -290px;
    }
} */
.astrop{
    height: 250px;
    top: 140px;
    position: absolute;
    animation-name: nasha;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    /* -o-animation-timing-function: linear; */
    animation-direction: alternate-reverse;
}
@keyframes nasha{
    0%{
        transform: rotate(8deg);
        top: 140px;
    }
    50%{
        transform: rotate(-12deg);
        top: 160px;
    }
}
@media  screen and (max-width:1120px) {
    
    .earth{
        display: none;
    }
    .astrop{
        height: 210px;
    }
    /* .box1{
        top: 500px;
    }
    .box2{
        top: 400px;
    }
    .box3{
        top: 300px;
    } */
}
@media screen and (max-width:957px)
{
    .astrop{
        display: none;
    }
    .boxfather{
        top: 33%;
        flex-flow: column;
        height: 350px;
        align-content: space-between;
    }
    /* .box1{
        top: 200px;
    }
    .box2{
        top: 230px;
        left: 100px;
    }
    .box3{
        top: 250px;
        left: 100px;
    } */
    .light{
        animation: none;
    border-bottom: solid 200px rgb(251, 255, 4);
    border-left: solid 50px transparent;
    border-right: solid transparent 50px;
    opacity: .3;
    top: 150px;
    left: 420px;
    transform: rotate(90deg);
    animation-name: burni;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction:alternate-reverse;
    }
    @keyframes burni {
        0%{
            top: 410px;
        }
        50%{
            top: 280px;
        }
        100%{
            top: 150px;
        }
        
    }
    .ufo{
        animation: none;
        left: 570px;
        top: 196px;
         animation-name: burni;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction:alternate-reverse; 
    }
}
@media screen and (max-width:679px)
{
    .boxfather{
        left: 30%;
    }
    .light{
        display: none;
    }
    .ufo{
        animation: none;
        top: 170px;
        transform: rotate(-45deg);
        left: -6px;
        animation-name: innerone;
       animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction:alternate-reverse;  
    }
    @keyframes innerone {
        0%{
            top: 435px;
        }
        50%{
            top: 305px;
        }
        100%{
            top: 175px;
        }
        
    }
}
@media screen and (max-width:479px)
{
    .ufo{
        display: none;
    }
    /* .present{
        left: 10px;
        font-size: 50px;
    }
    .change{
        left: 295px;
        top: -5px;
    }
    .holo{
        font-size: 35px;
        left: 5px;
    }
    .mo{
        left: 140px;

    }
    .bhit{
        left: 140px;
    } */
    .boxfather{
        left: 20%;
    }
}
@media screen and (max-width:356px)
{
    .box1{
        left: 10px;
    }
    .box2{
        left: 10px;
    }
    .box3{
        left: 10px;
    }
    .holo{
        top: 65px;
        left: 70px;
    }
    .bhit{
        top: 120px;
        left: 50px;
    }
    .mo{
        top: 120px;
        left: 50px;
    }
}
@media screen and (max-width:310px)
{
    .present{
        font-size: 40px;
        text-align: center;
    }
    .change{
        left: 240px;
    }
}
.boxim{
    position: relative;
    top: 110px;
    left: 300px;
    height: 55px;
    background-color: #010224;
    width: 200px;
    border-left: solid 5px white;
    /* background: linear-gradient(to left,rgb(0, 0, 63),80px,rgb(0, 0, 63)); */
    animation-name: sma;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes sma{
    from{

    }
    to{
        margin-left: 130px;
    }
}