* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    background-color: #090221;
  }
  .container {
    background-color: #ffffff;
    width: 70vw;
    max-width: 24em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.5em;
    box-shadow: 0 1.2em 2.8em rgba(0, 41, 22, 0.2);
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3em;
  }
  .wrapper h3{
      text-align: center;

  }
  label {
    font-size: 1.2em;
    font-weight: 600;
    color: #242e4c;
  }
  input {
    display: block;
    width: 100%;
    font-size: 1.3em;
    border: none;
    color: #444b5f;
    border-bottom: 1.5px solid #242e4c;
    padding: 0.45em;
    margin-top: 0.45em;
    outline: none;
  }
  input:focus {
    border-color: #f5a623;
  }
  button#generate {
    display: block;
    width: 100%;
    font-size: 1.1em;
    margin: 2.7em 0 1.1em 0;
    background-color: #090221;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: #ffffff;
  }
  #result {
    text-align: center;
    font-size: 3.7em;
    font-size: 600;
    color: #242e4c;
  }