*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    width: 100%;
    background-color: #090221;
}
.container{
    background-color: #ffffff;
    width: 80vmin;
    min-width: 250px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 50px 10px;
    border-radius: 10px;
}
h2{
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}
.wrapper{
    width: 230px;
}
label{
    font-weight: 600;
}
input{
    width: 100%;
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #404050;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}