* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/* background: #EDE6DB; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: grid;
  grid-template-rows: repeat(4, 10rem);
  grid-template-columns: repeat(4, 10rem);
  perspective: 800px;
  grid-gap: 2rem;
}

.back {
  background-color: black;
}

.face,
.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  width: 100%;
  height: 100%;
}

.toggleCard {
  transform: rotateY(180deg);
}
