@import url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans&sidebar.open:400,700");

#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
