.Sidebar {
    height: 100%;
    width: 80px;    
    background-color: rgba(32, 32, 54, 1);
    border-right: 1px solid rgba(189, 189, 192, 0.1);
    transition: width 0.3;
    overflow-y: scroll;


}

@media (min-width: 576px) {
    .Sidebar {
        width: 320px;
    }
}