.container {
  width: 90%;
  margin: auto;
  text-align: center;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  padding: 20px;
  margin: auto;
  
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}
button{
  padding: 0.5rem 1rem;
  width: 150px;
  margin-bottom: 25px;
  border: none;
  border-radius: 10px;
  color:#4ECCA3;
  font-size: 1.75rem;
  font-family: 'Lobster', cursive;
}

button:hover{
  cursor: pointer;
}

.green-color{
  color:#4ECCA3;
}