
body {
  
  background-color: #e6eeff;
  text-align: center;
  margin: 0;
}

p1{
  font-size: 12px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  line-height: 1.5;
}

h1{
  margin-bottom: 0;
}

h2{
  font-size: 30px;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 900;
  font-color: gray;
  text-align: center;
}

#main {
  font-size: 16px;
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #e6eeff;

}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}



#img-div {
 background-color: e6eeff;
 margin: 0;
 padding: 10px;
 align: center;
 
}

image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  align: center;
}

#title {
  
  
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 100px;
  line-height: 1.5;
  text-align: center;
  font-color: #303030;

}


#tribute-info {
  
  display: block;
  font-size: 14px;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 600;
  font-color: gray;
  text-align: left;
  background-color: #ccdcff;
  padding: 10px;
  radius: 20%;
  margin: 0;

}

.line-height{
  line-height: 2.0;
}

#tribute-link {

font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: light;
margin: 0;
padding: 10px;

}

#img-caption {
  
font-family: 'Source Serif 4', sans-serif;
font-size: 12px;
text-align: center;
margin: 15px 0px 5px 0px;

}

blockquote {
  
  display: block;
  padding: 10px;
  background-color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

#books {
  
  background-color: #eee;
  text-align: center;
  line-height: 2.5;
  font-size: 18px;

}

#footer{
  
  text-align: center;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  
}
