.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

  &__copyright {
    font-size: 1rem;
  }
  a {
    text-decoration: none;
    transition: all 0.3s;
    color: $color-alpha-white;
  }

  a:hover {
    color: $color-primary;
  }
}