@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: white;
}

.cart {
  position: absolute;
  display: flex;
  right: 30px;
  top: 6px;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}
.cart span {
  /* background-color:orangered; */
  color: white;
  font-size: 20px;
}
.cart img {
  width: 30px;
  height: 30px;
}
.cart_main{
    /* border: 1px solid red; */
    background-color: rgb(24, 153, 170);
    border-radius: 20px;
    padding: 0 3px;
}
.cart_main span{
    padding-right: 10px;
    color: black;
}
/* body {
  position: relative;
  height: 100%; 
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */
.top {
  background-color: rgb(49, 52, 54);
  width: 100%;
}
ul {
  display: flex;
  justify-content: center;
}
.listt h3 {
  font-size: 1.4rem;
}
.list {
  list-style: none;
  /* border: 1px solid red; */
  border-radius: 30px;
  text-align: center;
  display: flex;
  margin: 10px 20px;
  padding: 0px 20px;
  align-items: center;
}
.list:hover {
  /* background-color: rgb(248, 241, 232); */
  color: black;
}

.imagelist {
  width: 25px;
  height: 25px;
  padding: 5px 5px;
  margin: 5px 10px;
  color: orangered;
  background-color: rgb(161, 161, 9);
  border-radius: 50%;
}

h3 {
  font-weight: 200;
  font-size: 16px;
  color: white;
}
h3:hover {
  color: rgb(245, 0, 0);
}
a {
  text-decoration: none;
  /* font-size: 20px; */
  /* margin-bottom:10px; */
}

/* input{
    display:none;
} */
.imageslider {
  position: absolute;
  /* margin-top: 10px; */
  /* border: 3px solid red; */
  width: 100%;
  height: 750px;
  /* width: 1920px; */
  /* animation: skip 15s linear infinite  */
}
.cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height:770px;
    width: 1920px; */
}
.imageinside {
  width: 100%;
  /* height: 750px; */
  height: 100%;
}

#one {
  /* transition: transform 1.5s; */
  animation: one 15s linear infinite;
}
#two {
  animation: two 15s linear infinite;
}
#three {
  animation: three 15s linear infinite;
}
#four {
  animation: four 15s linear infinite;
}
#five {
  animation: five 15s linear infinite;
  /* z-index: -10; */
}

/* #one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
    transform:scale(0.9);
} */
@keyframes one {
  0% {
    z-index: 1;
  }
  20% {
    z-index: 1;
  }
  40% {
    z-index: -1;
  }
  60% {
    z-index: -1;
  }
  80% {
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes two {
  0% {
    z-index: -1;
  }
  20% {
    z-index: 1;
  }
  40% {
    z-index: 1;
  }
  60% {
    z-index: -1;
  }
  80% {
    z-index: -1;
  }
  100% {
    z-index: -1;
  }
}
@keyframes three {
  0% {
    z-index: -1;
  }
  20% {
    z-index: -1;
  }
  40% {
    z-index: 1;
  }
  60% {
    z-index: 1;
  }
  80% {
    z-index: -1;
  }
  100% {
    z-index: -1;
  }
}
@keyframes four {
  0% {
    z-index: -1;
  }
  20% {
    z-index: -1;
  }
  40% {
    z-index: -1;
  }
  60% {
    z-index: 1;
  }
  80% {
    z-index: 1;
  }
  100% {
    z-index: -1;
  }
}
@keyframes five {
  0% {
    z-index: -1;
  }
  20% {
    z-index: -1;
  }
  40% {
    z-index: -1;
  }
  60% {
    z-index: -1;
  }
  80% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
.navi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 15px;
  z-index: 50;
  padding: 5px 0px;
  background: transparent;
}
.navi ul {
  display: flex;
  justify-content: unset;
  justify-items: center;
  align-items: center;
  /* justify-content:space-around; */
}
.logo li{
    color: black;
}
.accesories {
  text-align: center;
  margin: 10px 35px;
  color: white;
  list-style: none;
  font-size: 21px;
  font-weight: 400;
}

.logo {
  margin-left: 15px;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  background-color: rgb(136, 136, 24);
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
  background-image: url("Images/planet-outline.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.acc {
  color: rgb(29, 161, 9);
  font-weight: 800;
}
.logo:hover {
  background-image: url("Images/home-outline.svg");
}

a:hover {
  color: rgb(221, 221, 131);
  font-weight: 800;
}

.navsliderdots {
  z-index: 15;
  /* border: 3px solid red; */
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 500px;
  height: 100px;
}
.dots {
  width: 20px;
  height: 20px;
  z-index: 15;
  /* top: -55px; */
  bottom: -91%;
  position: relative;
  /* position:absolute; */
  margin: 0 5px;
  display: inline-block;
  left: -3%;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#i1:checked ~ .navsliderdots #dot1 {
  background-color: chocolate;
}
#i2:checked ~ .navsliderdots #dot2 {
  background-color: blue;
}
#i3:checked ~ .navsliderdots #dot3 {
  background-color: green;
}
#i4:checked ~ .navsliderdots #dot4 {
  background-color: red;
}
#i5:checked ~ .navsliderdots #dot5 {
  background-color: blueviolet;
}

/* #i1:checked ~ #one,
    #i2:checked ~ #two,
    #i3:checked ~ #three,
    #i4:checked ~ #four {
            z-index: 50;
        
        } */
.content3box {
  display: flex;
  /* border: 3px solid red; */
  width: 80%;
  /* margin-top: 1200px; */
  margin: 15px auto;
  margin-top: 800px;
  margin-bottom: 40px;
}
.eachbox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 33%;
  /* background:black; */
  margin: 0px 15px;
  /* border: 3px solid black; */
  height: 280px;
  flex-wrap: wrap;
  border-radius: 10%;
  overflow: hidden;
  transition: all 0.5s;
}
.box {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
#hey {
  /* height:119%; */
  height: 66%;
  width: 91%;
}
#hey2 {
  height: 75%;
  width: 90%;
}
.eachbox:hover {
  transform: scale(1.1);
}
h1 {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  /* margin: 10px auto; */
}
#hu {
  margin-top: 50px;
}
.underline {
  width: 650px;
  height: 0px;
  border: 2px solid orangered;
  margin: 8px auto;
}
.productofmonth {
  /* border: 3px solid red; */
  width: 70%;
  /* display:flex; */
  /* margin: 15px auto; */
  height: 612px;
  position: absolute;
  left: 15%;
  margin-top: 55px;
}
.motucontainer {
  /* border: 3px solid black; */
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 610px;
  opacity: 0.95;
}
.nanu1 {
  position: absolute;
  right: 0;
  top: 0;
  /* border: 3px solid black; */
  width: 800px;
  height: 300px;
  display: flex;
  opacity: 0.95;
}
.nanu2 {
  position: absolute;
  right: 0;
  bottom: 0;

  /* border: 3px solid black; */
  width: 800px;
  height: 300px;
  display: flex;
  opacity: 0.95;
}
.nanu1niandar {
  /* border: 3px solid blue; */
  width: 50%;
  margin-right: 10px;
  height: 100%;
  opacity: 0.95;
}
.nanu2niandar {
  /* border: 3px solid blue; */
  width: 100%;
  opacity: 0.95;
  height: 100%;
}
.months {
  width: 100%;
  height: 100%;
}

.motucontainer:hover,
.nanu1niandar:hover,
.nanu2niandar:hover {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
}

/* navbar second */

.secondnav {
  width: 50%;
  /* border: 3px solid red; */

  margin: 0px auto;
  margin-top: 70px;
}
.in {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.inn {
  list-style: none;
  color: black;
  font-weight: 600;
  font-size: 21px;
  border-bottom: 3px solid rgb(80, 104, 35);
}

.heading {
  margin-top: 750px;
}

/* starting of accesories box for audio */

.accesoriesbox {
  position: absolute;
  width: 80%;
  /* border: 3px solid black; */
  margin-top: 50px;
  height: 614px;
  left: 10%;
  /* top: 0; */
}

.straight {
  position: absolute;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  /* border: 3px solid red; */
  background: url("https://images-na.ssl-images-amazon.com/images/I/81k3tM57jRL._SL1500_.jpg");
  background-color: rgb(31, 28, 28);
  background-size: 100%;
  background-position: center;
  opacity: 0.95;
  background-repeat: no-repeat;
  border-radius: 2%;
}
.hoz1 {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 69.5%;
  height: 49.5%;
  /* border: 3px solid red; */
}
.hoz2 {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  width: 69.5%;
  height: 49.5%;
  /* border: 3px solid red; */
}
.hoz1inside {
  /* border: 3px solid blue; */
  width: 33%;
  height: 100%;
  margin: 0px 2px;
  border-radius: 2%;
}
.hoz2inside {
  margin: 0px 5px;
  /* border: 3px solid blue; */
  width: 33%;
  height: 100%;
  border-radius: 2%;
}
#first {
  background: url("https://images-na.ssl-images-amazon.com/images/I/915OPCuEk5L._SX425_.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}

#second {
  background: url("https://images-na.ssl-images-amazon.com/images/I/61wprnfIZcL._SX425_.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#third {
  background: url("https://images-na.ssl-images-amazon.com/images/I/61BDoYzNSYL._SX425_.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#fourth {
  background: url("https://images-na.ssl-images-amazon.com/images/I/610m%2Bq8tTLL._SY355_.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#fifth {
  background: url("https://images-na.ssl-images-amazon.com/images/I/71SNv4980GL._SX425_.jpg");

  background-size: 100%;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
}
#six {
  background: url("https://images-na.ssl-images-amazon.com/images/I/61Ava9C2GYL._SX425_.jpg");

  background-size: 100%;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
}
#first:hover,
#second:hover,
#third:hover,
#fifth:hover,
#six:hover,
#fourth:hover,
.straight:hover {
  opacity: 1;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.straight a,#first a,#second a,#third a,#fourth a,#fifth a,#six a, .straight1 a,#first1 a,#second1 a,#third1 a,#fourth1 a,#fifth1 a,#six1 a, .straight2 a, #first2 a,#second2 a,#third2 a{
    color: red;;
    font-size: 22px;
    position: relative;
    left: 39%;
    font-weight: 800;
}

.accesoriesbox1 {
  position: absolute;
  width: 80%;
  /* border: 3px solid black; */
  margin-top: 50px;
  height: 614px;
  left: 10%;
  /* top: 0; */
}

.straight1 {
  position: absolute;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* border: 3px solid red; */
  background: url("https://images-na.ssl-images-amazon.com/images/I/81BUIR8Yu-L._SX679_.jpg");
  background-color: rgb(31, 28, 28);
  background-size: 100%;
  background-position: center;
  opacity: 0.95;
  background-repeat: no-repeat;
  border-radius: 2%;
}
.hoz11 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 69.5%;
  height: 49.5%;
  /* border: 3px solid red; */
}
.hoz21 {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 69.5%;
  height: 49.5%;
  /* border: 3px solid red; */
}
.hoz1inside1 {
  /* border: 3px solid blue; */
  width: 33%;
  height: 100%;
  margin: 0px 2px;
  border-radius: 2%;
}
.hoz2inside1 {
  margin: 0px 5px;
  /* border: 3px solid blue; */
  width: 33%;
  height: 100%;
  border-radius: 2%;
}
#first1 {
  background: url("https://images-na.ssl-images-amazon.com/images/I/618MEYCaUQL._SX679_.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}

#second1 {
  background: url("https://images-na.ssl-images-amazon.com/images/I/71-WMg2RPcL._UX569_.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#third1 {
  background: url("https://images-na.ssl-images-amazon.com/images/I/61-ZuCsybdL._SX679_.jpg");

  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#fourth1 {
  background: url("https://i01.appmifile.com/webfile/globalimg/in/cms/441FC065-EEE7-5A64-9CF9-608EF2F82F60.jpg");

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#fifth1 {
  background: url("https://i01.appmifile.com/webfile/globalimg/in/cms/FD13B2EB-1AD5-67EE-FF6B-C3E2A0270556.jpg");

  background-size: 90%;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
}
#six1 {
  background: url("https://images-na.ssl-images-amazon.com/images/I/41nxLJOANKL._SX522_.jpg");

  background-size: 95%;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
}
#first1:hover,
#second1:hover,
#third1:hover,
#fifth1:hover,
#six1:hover,
#fourth1:hover,
.straight1:hover {
  opacity: 1;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
#hhhh {
  margin-top: 100px;
}
#under,
#under1 {
  width: 50px;
}
#under2 {
  width: 650px;
  margin-top: 750px;
}
#hh {
  margin-top: 800px;
}
#hhhhh {
  margin-top: 760px;
}
.accesoriesbox2 {
  position: absolute;
  width: 80%;
  /* border: 3px solid black; */
  margin-top: 50px;
  height: 614px;
  left: 10%;
  /* top: 0; */
}

.straight2 {
  position: absolute;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 3px solid red; */
  background: url("https://i01.appmifile.com/webfile/globalimg/in/cms/801ED76B-614B-5959-E2C3-1EC8E14C0ABD.jpg");
  background-color: rgb(31, 28, 28);
  background-size: 80%;
  background-position: center;
  opacity: 0.95;
  background-repeat: no-repeat;
  border-radius: 2%;
}
.hoz12 {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 69.5%;
  height: 100%;
  /* border: 3px solid red; */
}

.hoz1inside2 {
  /* border: 3px solid blue; */
  width: 33%;
  height: 100%;

  margin: 0px 4px;
  border-radius: 2%;
}

#first2 {
  background: url("https://i01.appmifile.com/webfile/globalimg/in/cms/CEEE67A3-3578-7048-887D-CFC3D90B5D17.jpg");

  background-size: 120%;
  background-color: rgb(31, 28, 28);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}

#second2 {
  background: url("https://i01.appmifile.com/webfile/globalimg/in/cms/3CBAACCE-D18A-B241-A4F8-54A4CCE194A5.jpg");

  background-size: 120%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}
#third2 {
  background: url("https://i02.appmifile.com/677_operator_in/25/01/2021/8163c3c89feb2c83c73b019d5fd50181.jpg");

  background-size: 89%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
}

#first2:hover,
#second2:hover,
#third2:hover,
#fifth2:hover,
#six2:hover,
#fourth2:hover,
.straight2:hover {
  opacity: 1;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.swiper-container {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.swiper-button-next, .swiper-button-prev{
    top: 80%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#under23 {
  margin-bottom: 50px;
}
#under233 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.imagesboxes {
  display: flex;
  /* border: 3px solid red; */
  width: 80%;
  margin: 15px auto;
  align-items: center;
  animation: zoom 6s linear infinite;
}
.boxoffer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  /* border: 3px solid black; */
  margin: 2px 5px;
  align-items: center;
}
.offer {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#secondnavbar {
  display: none;
}
.miny-control.error {
  background-color: white;
  color: black;
}
.miny-control.success {
  background-color: black;
  color: #fff;
}
#moon {
  right: 110px;
  z-index: 10000;
}
#sun {
  right: 150px;
  z-index: 10000;
}
@media (min-width: 500px) and (max-width: 640px) {
  .top,
  .navi,
  .secondnav,
  .imageslider,
  .content3box,
  .underline,
  .productofmonth,
  .heading,
  .accesoriesbox,
  .accesoriesbox1,
  .accesoriesbox2,
  h1,
  h2,
  .swiper-container,
  .imagesboxes,
  #foot,
  #foot1,
  .cart {
    display: none;
    /* display: flex; */
    /* height: 0px;
              width: 0px; */
  }
  #secondnavbar {
    display: block;

    /* position: sticky; */
    top: 0;
    left: 0;
    /* z-index: 1000; */
    width: 100%;
    /* right: 0; */
  }
  .carti {
    position: absolute;
    display: flex;
    right: 75px;
    top: 9px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
  }
  #mooni {
    right: 120px;
  }
  #sunny {
    right: 70px;
  }

  .magnify-control.success {
    background-color: white;
    color: black;
  }
  .magnify-control.error {
    background-color: black;
    color: white;
  }
  .carti span {
    /* background-color:orangered; */
    color: black;
    font-size: 20px;
  }
  .carti img {
    width: 25px;
    height: 25px;

    /* margin-right: 5px; */
  }

  .hamaramainimagecontainer {
    /* border:3px solid black; */
    width: 100%;
    height: 250px;
    position: absolute;
  }
  .andarimagecont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .sliders {
    width: 100%;
    height: 100%;
  }
  #pehla {
    /* transition: transform 1.5s; */
    animation: one 15s linear infinite;
  }
  #dusra {
    animation: two 15s linear infinite;
  }
  #tisra {
    animation: three 15s linear infinite;
  }
  #chota {
    animation: four 15s linear infinite;
  }
  #pachma {
    animation: five 15s linear infinite;
    /* z-index: -10; */
  }

  /* #one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
            transform:scale(0.9);
        } */
  @keyframes pehla {
    0% {
      z-index: 1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: 1;
    }
  }
  @keyframes dusra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes tisra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes chota {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes pachma {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: 1;
    }
  }
  .line {
    margin-top: 100px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    margin-top: 270px;
  }
  .belowline {
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
  }
  .prodimonth {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 250px;
    /* border:3px solid black; */
    margin: 30px auto;
  }
  .prodi {
    /* border: 3px solid red; */
    width: 50%;
    height: 100%;
    margin: 0px 5px;
    opacity: 0.95;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  .prodis {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .prodi:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .upperline {
    margin-top: 40px;
    border-bottom: 3px solid orangered;
    width: 170px;
    margin: 0px auto;
    /* margin-top:270px; */
  }
  #smart {
    margin-top: 40px;
  }
  #smart1 {
    margin-top: 300px;
  }
  .styling {
    width: 200px;
    /* border:3px solid red; */
    margin: 30px auto;
    height: 200px;
  }
  .imageinsidestyling {
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */

    animation: 6s zoomi linear infinite;
  }
  .omg {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  @keyframes zoomi {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .backi {
    background-color: rgb(163, 156, 156);
    padding: 10px 15px;
    margin-top: 0px;
  }
}

@media (min-width: 641px) and (max-width: 1100px) {
  .top,
  .navi,
  .secondnav,
  .imageslider,
  .content3box,
  .underline,
  .productofmonth,
  .heading,
  .accesoriesbox,
  .accesoriesbox1,
  .accesoriesbox2,
  h1,
  h2,
  .swiper-container,
  .imagesboxes,
  #foot,
  #foot1,
  .cart {
    display: none;
    /* display: flex; */
    /* height: 0px;
                width: 0px; */
  }
  #secondnavbar {
    display: block;

    /* position: sticky; */
    top: 0;
    left: 0;
    /* z-index: 1000; */
    width: 100%;
    /* right: 0; */
  }
  .carti {
    position: absolute;
    display: flex;
    right: 75px;
    top: 9px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
  }
  #mooni {
    right: 120px;
  }
  #sunny {
    right: 70px;
  }

  .magnify-control.success {
    background-color: white;
    color: black;
  }
  .magnify-control.error {
    background-color: black;
    color: white;
  }
  .carti span {
    /* background-color:orangered; */
    color: black;
    font-size: 20px;
  }
  .carti img {
    width: 25px;
    height: 25px;

    /* margin-right: 5px; */
  }

  .hamaramainimagecontainer {
    /* border:3px solid black; */
    width: 100%;
    height: 420px;
    position: absolute;
  }
  .andarimagecont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .sliders {
    width: 100%;
    height: 100%;
  }
  #pehla {
    /* transition: transform 1.5s; */
    animation: one 15s linear infinite;
  }
  #dusra {
    animation: two 15s linear infinite;
  }
  #tisra {
    animation: three 15s linear infinite;
  }
  #chota {
    animation: four 15s linear infinite;
  }
  #pachma {
    animation: five 15s linear infinite;
    /* z-index: -10; */
  }

  /* #one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
              transform:scale(0.9);
          } */
  @keyframes pehla {
    0% {
      z-index: 1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: 1;
    }
  }
  @keyframes dusra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes tisra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes chota {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes pachma {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: 1;
    }
  }
  .line {
    margin-top: 100px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    margin-top: 450px;
  }
  .belowline {
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
  }
  .prodimonth {
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 300px;
    /* border:3px solid black; */
    margin: 30px auto;
  }
  .prodi {
    /* border: 3px solid red; */
    width: 50%;
    height: 100%;
    margin: 0px 5px;
    opacity: 0.95;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  .prodis {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .prodi:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .upperline {
    margin-top: 40px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    /* margin-top:270px; */
  }
  #smart {
    margin-top: 40px;
  }
  #smart1 {
    margin-top: 300px;
  }
  .styling {
    width: 200px;
    /* border:3px solid red; */
    margin: 30px auto;
    height: 200px;
  }
  .imageinsidestyling {
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */

    animation: 6s zoomi linear infinite;
  }
  .omg {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  @keyframes zoomi {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .backi {
    background-color: rgb(163, 156, 156);
    padding: 135px 15px;
    margin-top: 0px;
  }
}
@media (max-width: 399px) {
  .top,
  .navi,
  .secondnav,
  .imageslider,
  .content3box,
  .underline,
  .productofmonth,
  .heading,
  .accesoriesbox,
  .accesoriesbox1,
  .accesoriesbox2,
  h1,
  h2,
  .swiper-container,
  .imagesboxes,
  #foot,
  #foot1,
  .cart {
    display: none;
    /* display: flex; */
    /* height: 0px;
                width: 0px; */
  }
  #secondnavbar {
    display: block;

    /* position: sticky; */
    top: 0;
    left: 0;
    /* z-index: 1000; */
    width: 100%;
    /* right: 0; */
  }
  .carti {
    position: absolute;
    display: flex;
    right: 75px;
    top: 9px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
  }
  #mooni {
    right: 120px;
  }
  #sunny {
    right: 70px;
  }

  .magnify-control.success {
    background-color: white;
    color: black;
  }
  .magnify-control.error {
    background-color: black;
    color: white;
  }
  .carti span {
    /* background-color:orangered; */
    color: black;
    font-size: 20px;
  }
  .carti img {
    width: 25px;
    height: 25px;

    /* margin-right: 5px; */
  }

  .hamaramainimagecontainer {
    /* border:3px solid black; */
    width: 100%;
    height: 200px;
    position: absolute;
  }
  .andarimagecont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .sliders {
    width: 100%;
    height: 100%;
  }
  #pehla {
    /* transition: transform 1.5s; */
    animation: one 15s linear infinite;
  }
  #dusra {
    animation: two 15s linear infinite;
  }
  #tisra {
    animation: three 15s linear infinite;
  }
  #chota {
    animation: four 15s linear infinite;
  }
  #pachma {
    animation: five 15s linear infinite;
    /* z-index: -10; */
  }

  /* #one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
              transform:scale(0.9);
          } */
  @keyframes pehla {
    0% {
      z-index: 1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: 1;
    }
  }
  @keyframes dusra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes tisra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes chota {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes pachma {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: 1;
    }
  }
  .line {
    margin-top: 100px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    margin-top: 230px;
  }
  .belowline {
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
  }
  .prodimonth {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 355px;
    /* border:3px solid black; */
    margin: 30px auto;
  }
  .prodi {
    /* border: 3px solid red; */
    width: 100%;
    height: 50%;
    margin: 10px 5px;
    opacity: 0.95;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  .prodis {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .prodi:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .upperline {
    margin-top: 40px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    /* margin-top:270px; */
  }
  #smart {
    margin-top: 40px;
  }
  #smart1 {
    margin-top: 300px;
  }
  .styling {
    width: 200px;
    /* border:3px solid red; */
    margin: 30px auto;
    height: 200px;
  }
  .imageinsidestyling {
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */

    animation: 6s zoomi linear infinite;
  }
  .omg {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  @keyframes zoomi {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .backi {
    background-color: rgb(163, 156, 156);
    padding: 10px 15px;
    margin-top: 0px;
  }
}
@media (min-width: 400px) and (max-width: 499px) {
  .top,
  .navi,
  .secondnav,
  .imageslider,
  .content3box,
  .underline,
  .productofmonth,
  .heading,
  .accesoriesbox,
  .accesoriesbox1,
  .accesoriesbox2,
  h1,
  h2,
  .swiper-container,
  .imagesboxes,
  #foot,
  #foot1,
  .cart {
    display: none;
    /* display: flex; */
    /* height: 0px;
                width: 0px; */
  }
  #secondnavbar {
    display: block;

    /* position: sticky; */
    top: 0;
    left: 0;
    /* z-index: 1000; */
    width: 100%;
    /* right: 0; */
  }
  .carti {
    position: absolute;
    display: flex;
    right: 75px;
    top: 9px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
  }
  #mooni {
    right: 120px;
  }
  #sunny {
    right: 70px;
  }

  .magnify-control.success {
    background-color: white;
    color: black;
  }
  .magnify-control.error {
    background-color: black;
    color: white;
  }
  .carti span {
    /* background-color:orangered; */
    color: black;
    font-size: 20px;
  }
  .carti img {
    width: 25px;
    height: 25px;

    /* margin-right: 5px; */
  }

  .hamaramainimagecontainer {
    /* border:3px solid black; */
    width: 100%;
    height: 200px;
    position: absolute;
  }
  .andarimagecont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .sliders {
    width: 100%;
    height: 100%;
  }
  #pehla {
    /* transition: transform 1.5s; */
    animation: one 15s linear infinite;
  }
  #dusra {
    animation: two 15s linear infinite;
  }
  #tisra {
    animation: three 15s linear infinite;
  }
  #chota {
    animation: four 15s linear infinite;
  }
  #pachma {
    animation: five 15s linear infinite;
    /* z-index: -10; */
  }

  /* #one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
              transform:scale(0.9);
          } */
  @keyframes pehla {
    0% {
      z-index: 1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: 1;
    }
  }
  @keyframes dusra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: 1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes tisra {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: 1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes chota {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: 1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes pachma {
    0% {
      z-index: -1;
    }
    20% {
      z-index: -1;
    }
    40% {
      z-index: -1;
    }
    60% {
      z-index: -1;
    }
    80% {
      z-index: 1;
    }
    100% {
      z-index: 1;
    }
  }
  .line {
    margin-top: 100px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    margin-top: 230px;
  }
  .belowline {
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
  }
  .prodimonth {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 190px;
    /* border:3px solid black; */
    margin: 30px auto;
  }
  .prodi {
    /* border: 3px solid red; */
    width: 50%;
    height: 100%;
    margin: 0px 5px;
    opacity: 0.95;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  .prodis {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .prodi:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .upperline {
    margin-top: 40px;
    border-bottom: 3px solid orangered;
    width: 70px;
    margin: 0px auto;
    /* margin-top:270px; */
  }
  #smart {
    margin-top: 40px;
  }
  #smart1 {
    margin-top: 300px;
  }
  .styling {
    width: 200px;
    /* border:3px solid red; */
    margin: 30px auto;
    height: 200px;
  }
  .imageinsidestyling {
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */

    animation: 6s zoomi linear infinite;
  }
  .omg {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  @keyframes zoomi {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .backi {
    background-color: rgb(163, 156, 156);
    padding: 10px 15px;
    margin-top: 0px;
  }
}
@media (min-width: 1101px) and (max-width: 1900px) {
  .magnify-control,
  .carti,
  .motucontainer,
  .hamaramainimagecontainer,
  .line,
  h4,
  .belowline,
  .prodimonth,
  .upperline,
  #hi1,
  #hi2,
  #hi3,
  #hi4,
  #hi5,
  #hi6,
  .backi,
  #ehell,
  #ehel {
    display: none;
  }
}
@media (min-width: 1901px) {
  .magnify-control,
  .carti,
  .hamaramainimagecontainer,
  .line,
  h4,
  .belowline,
  .prodimonth,
  .upperline,
  #hi1,
  #hi2,
  #hi3,
  #hi4,
  #hi5,
  #hi6,
  .backi,
  #ehell,
  #ehel {
    display: none;
  }
}