*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

/* now start coding of css from here  */

body{
    background: whitesmoke;
    /* background-color: red; */
}

main h1{
    width: 40vw;
    /* background-color: red; */
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 4px solid rgb(105, 92, 92);
    margin: 0 auto;
    margin-bottom: 40px;
}

main h3{
    /* color: whitesmoke; */
    font-size: 1.6vw;
    font-weight: bolder;
    width: 60vw;
    border-radius: 4px;
    background-color: rgba(130, 93, 168,0.4);
    margin: 0 auto;
    padding: 4px 60px;
    margin-top: 10px;
}