html {

 
  overflow: hidden;
  user-select: none;
  background-position: center;
 background:fixed;
  padding-left: rgb(255, 0, 0);
  box-sizing: border-box;
  font-size: 6px;
  background: url("https://wallpaperaccess.com/full/2801800.jpg") bottom center ;
  

  
  padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0px;
   background-position-x: center;
}
h1 {
  font-size: 5rem;
  color:#630606;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #FDEFF4;
  padding: bottom 10px;;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  
}

h1 {
  position:relative;
  text-align: center;
  text-align:top;
  font-size: 10rem;
  line-height: 1;
  margin-top: 0rem;
  bottom:100px
}
button{
  position: relative;
  
  font-size: 4rem;
  font-family: 'Arvo', cursive;
 color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
 text-align: center;
  margin: 10px;
  background-color: white;
  margin-left: 715px;
  bottom:90px
}
.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  bottom: 60px;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}
