.choice-container {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(89, 165, 235, 0.25);
  background-color: rgb(12, 8, 8);
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(119, 201, 241, 0.5);
  transform: translate(0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem;
  background-color: aqua;
  color: black;
}
.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2.1rem;
}
.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid rgb(228, 120, 11);
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: rgb(241, 58, 217);
  width: 50%;
}
