
.recipe-image{
    /* Add shadows to create the "card" effect */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }

  
  
  /* On mouse-over, add a deeper shadow */
  .recipe-image:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
  }

  .recipe{
    border: 5px double #020303;
border-radius: 13px 13px 13px 13px;
    margin: 2%;
    padding: 1%;
    position: relative;
  }
  
 
  div {
    font-family: "Unica One" ,cursive;
  }
  .corner {
    position: absolute;
    
    bottom: -20px;
    right: -20px;
    background-size: cover;
}
