#game {
	width: 400px;
	height: 400px;
	left: 0;
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
	position: fixed;
}

#body-header {
	background-image: url('Assets/background.jpg');
	background-size: 100%;
}

#confetti{
    background-size:  contain;                      
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
text-align:center;
color:yellow;
font-family:sans-serif;
}


.pin {
	position: absolute;
	width: 60px;
	left: 6px;
  	right: 0;
  	top:10px; 
  	margin-left: auto; 
  	margin-right: auto; 
	z-index: 2;
}

.wheel {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 10%;
}


.button {
	display: absolute;
	border-radius: 100px;
	width: 80px;
	transform: translate(200%, -305%);
	cursor: pointer;
}

.button:hover {
	box-shadow: 0px 0px 10px 4px #fa513e;

}

.blur {
	animation: blur 10s;
}

@keyframes blur {
	0% {
		filter: blur(0.4px);
	}
	80% {
		filter: blur(0.4px);
	}
	100% {
		filter: blur(0px)
	}
}

#info {
   position: fixed;
   top: 0;
   left: 0;
   padding: 15px;
   pointer-events: none;
   font-size: 20px;
   font-weight: bold;
   font-family: sans-serif;
}

/*code for bouncing pin*/
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
