body{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  }
  img{
    max-width: 100px;
    max-height: 50px;
  }
  .maindiv{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 400px;
    padding:3rem;
    border-radius:0.5rem;
    border:1px solid #e1e1e1;
    text-align: center;
  }
  .maindiv .Fields{
    display: inline-block;
    height: 90px;
    position: relative;
  }
  h1{
    font-size:24px;
    font-weight: 200px;
  }
  h3{
    color:#202124;
    font-size: 16px;
    font-weight: 400;
  }
  input{
    outline: none;
  }
  .Before-FS{
    width:344px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    height: 28px;
    font-size:16px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    transition: 0.1s;
  }
  .Before-FS:focus{
    border: 2px solid #1a73e8;
    border-top:1px solid transparent;
  }
  .Fs-H{
    opacity: 0;
    transition:0.2s;
  }
  .Fieldset > h1{
    font:1em normal;
    margin:-5px 2.5px -8px;
    position:relative;
    top:-60px
  }
  .Fieldset > h1 > span {
  float: left;
  color:#1a73e8;
  font-family: 'Google Sans','Noto Sans Myanmar UI','arial','sans-serif';
  font-size: 13px;
  }
  
  .Fieldset >h1::before{
    border-top:2px solid #1a73e8;
    content:' ';
    float: left;
    margin: 0.5em 2px 0 -1px;
    width:0.75em
  
  }
  .Fieldset > h1::after{
  
    border-top:2px solid #1a73e8;
    content: ' ';
  display: block;
  height:1.5em;
  left:2px;
  margin: 0 1px 0 0;
  overflow: hidden;
  position: relative;
  top:0.5em;
  }
  .placeholder{
    position: absolute;
    left:20px;
    top:19px;
    color:#80868b;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    transition:0.4s
  }
  
  input:focus ~ label.placeholder,
  input:valid ~ label.placeholder {
    top:3px;
    font-size: 10px;
    opacity: 0;
  }
  
  input:focus + .Fs-H,input:valid + .Fs-H{
  opacity: 1;
  
  }
  
  button{
    cursor: pointer;
    border:1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42;
    color:white;
    border-radius: 4px;
    background-color: #1a73e8;
    outline: none;
    min-width: 88px;
  
  }
  
  
  
  
  
  
  
  