body {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 25%;
  font-size: x-large;
  background-color: lightgreen;
}

table {
  font-size: 100%;
  width: 100%;
}

tr {
  height: 70px;
}

input[type=number] {
  width: 50%;
  font-size: 75%;
  padding: 12px;
}

#main {
  width: 1000px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
