/* CCONTAINERS */
.container-fluid {
  padding: 7% 15%;
}
body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}
.p {
  color: #8f8f8f;
}

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat-Black";
  font-weight: bold;
}

/* h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
} */

/* h2 {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bolder;
} */



/* SECTIONS  */
 .coloured-section{background-color: #ff4c68;
 color : #fff;}
 .white-section{background-color: #fff;}


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.Download-Button {
  margin: 5% 3% 5% 0;
}
/* TITLE SECTION  */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/* Title Image  */
.Title-Image {
  width: 60%;
  transform: rotate(25deg);
  /* z-index: -1; */
  position: absolute;
  right : 20%;
}

/* check, heart and bullseye */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* feature section */
#features {
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-box {
  padding: 4.5%;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: bold;
}

/* TESTIMONIAL SECTION */
#testimonials {
  background-color: #ef8172;
}
.testimonial-text
{
  line-height: 1.5;
  font-size: 3rem;
    font-weight: bolder;
}
.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/* .carousel-item{} */

 #press{
  background-color: #ef8172;
  padding: 3%;
 }

 .press-logo
 {
   width:15%;
   margin:20px 20px 50px;
 }


  /* Pricing Section  */
  #pricing{
padding : 100px;
text-align: center;
  }
  .pricing-coloumn
  {
    padding: 3% 2%;
  }
.price-text{
  line-height: 1.5;
  font-size: 3rem;
    font-weight: bolder;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
    font-weight: bolder;
}

/* CTA SECTION  */
#cta{
  font-family: "Montserrat-Black";
  font-weight: bold;
}

/* FOOTER SECTION */
#footer{
  background-color: #fff;
}
.social-icon{
  margin: 20px 10px;
}
@media (max-width:1028px)
{
  #title{
    text-align: center;
  }
  .Title-Image{
    position: static;
    transform: rotate(0);
  }
}

/* images/iphone6.png
images/dog-img.jpg
images/techcrunch.png
images/tnw.png
images/bizinsider.png
images/mashable.png */
