@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;

    justify-content: center;
    background: #fafbfc;
}

.clock-container {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #121310, #000000);
    color: #ffffff;
}

.extra-info {
    color: #c1c7d0;
}

.container {
    position: relative;
    background-color: red;
}

.clock-border {
    height: 12rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: linear-gradient(0deg, #ffb703, #fb8500);
}

.clock {
    font-size: 2.5rem;
}
