.watchlist-page {
  margin-top: 1rem;

  h2 {
    opacity: 0.8;
  }

  .watchlist-items {
    display: flex;
    flex-wrap: wrap;
  }

  .watchlist-empty {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

    .watchlist-icon {
      svg {
        width: 7rem;
        height: 7rem;
        opacity: 0.5;
      }
    }
    span {
      font-size: 1.5rem;
    }

    span:last-child {
      font-size: 1rem;
      margin-top: 1rem;
      opacity: 0.8;
    }
  }
}

@include responsive(phone) {
  .watchlist-page {
    .watchlist-items {
      justify-content: space-between;
    }
  }
}
