doctype html 
html 
  head 
    title Aisha dance academy 
    block scripts 
    block style 

  body 
    nav#navbar 
         ul  
            div#logo
              img(src="/static/logo1.png", alt="")

            li #[a(href="/") Home]
            li #[a(href="/") Services] 
            li #[a(href="/") About our classes]
            li #[a(href="/") Contact us] 
    block content 
    footer#footer 
         |copyright  @AishaDanceAcademy|All right reserved
    