body {
    background-image: url('https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  #Element{
      height: 200px;
      width: 200px;
      background-color: aqua;
      border: 5px solid rgb(18, 151, 247);
      transform: translate(100px, 100px);
  }
  p{
      text-align: center;
      color: whitesmoke;
      font-weight: 900;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border: 5px solid salmon;
  }
  h4{
    text-align: center;
  }
  #Box{
      height: 250px;
      width: 250px;
      background-color: transparent;
      color: red;
      border: 20px solid rgb(76, 24, 165);
      transform : translate(160px, 160px);  
  }
  h2{
    text-align: center;
    color: green;  
  }
  h1{    
    height: 100px;
    width: 600px;
    margin: 200px 200px;
    border: 20px solid rgb(99, 99, 187); 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
    position: relative;
    color: blue;
  }
  /* Different positions where the square goes */
  #square {
      height: 200px;
      width: 200px;
      background-color: aqua; 
      transform:translate(600px, 400px);
      border: 5px solid rgb(18, 151, 247);
    }
    
    #rectangle {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(800px, 500px);
      border: 5px solid rgb(18, 151, 247);
    }
    
    #circle {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(300px, 900px);
      border: 5px solid rgb(18, 151, 247);
    }
    
    #oval {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(580px, 300px);
      border: 5px solid rgb(18, 151, 247);
    }
    
    #triangle-up {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(700px, 300px);
      border: 5px solid rgb(18, 151, 247);
    }
  
    #triangle-down { 
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(200px, 200px);
      border: 5px solid rgb(18, 151, 247);
    }
    
    #triangle-topleft {
      height: 200px;
      width: 200px;
      background-color: aqua;
      border: 5px solid rgb(18, 151, 247);
      transform:translate(600px, 300px);
    }
    
    #triangle-bottomleft {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(400px, 400px);
      border: 5px solid rgb(18, 151, 247);
    }
  /*  Winning position */
    #triangle-bottomright {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(200px, 400px);
      border: 10px dotted darkblue;
    }
    
    #triangle-right {
      height: 200px;
      width: 200px;
      background-color: aqua;
      transform:translate(80px, 300px);
      border: 5px solid rgb(18, 151, 247);
    }