* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: black url("./images/istockphoto-1291217473-640x640.jpg") no-repeat;
    background-size: cover;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    animation: test 1s ease infinite;
}