#header{
    box-shadow:0px 2px 10px 0px #999999;
    /*background-image: linear-gradient(#98002E,#EDB111);*/
    }
    
    .logo{margin: 7px;
      margin-left: 20px;
      height: 120px;
    width:120px;
    transition: transform 1s;}
    .logo:hover{transform: scale(1.2);}
    .navbar-toggler{
    background-color: #98002E;
    }
    .nav-item{font-size:1.8rem;
      font-family:"helvetica";
      font-weight: bold;
    padding: 0px 4px;
    }
    .under{position: relative;
    display: inline-block;}
    .under::after{content:'';
      position: absolute;
    height:2px;
    width:100%;
    left:0;
    bottom:0;
    transform: scaleX(0);
    background-color: #EDB111;
    transition: transform 0.2s ease-out;}
    
    .under:hover::after{transform:scaleX(1);}
    
    a{color:#98002E !important;}
    a:hover{color:#EDB111 !important; }
    #slide{background-color: #b7b7b7;
    margin: 5px 0;
      box-shadow:0px 2px 10px 0px #999999;}
    .clg{height: 500px;
    width:100%;}
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
      width:20px;
      height: 20px;
      border-radius: 20%;
      background-color:#EDB111;}
      .btn{margin:0px 10px;
        height: 25px;
        width:25px;
        border-radius: 100% !important;
      border-color:#EDB111 !important; }
      .btn:hover{background-color: #EDB111;}
      #info{margin: 50px 50px;
    
    }
    .hr_new{
      width:30%;
      border-top:8px solid grey;
    border-radius: 5px;}
    .row{padding-top: 20px;
    }
    .display-5{text-align: center;
    }
    /*.flex-container{display: flex;
    flex-wrap: wrap;
    justify-content: center;}
    .container1, .container2{border:5px solid #98002E;
      border-radius: 5px;
      background-color: #eaccd5;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding:0 3rem;
      position: relative;
    
    }@media (min-width: 992px)
    .container1, .container2{
        flex: 0 0 auto;
        width: 50%;
    }
    
    .container1:hover, .container2:hover{border-color: #EDB111;
        background-color: #f9e7b7;
    }*/
    .col-lg-6{border:5px solid #98002E;
      border-radius: 5px;
      background-color: #eaccd5;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding:0 3rem;
      position: relative;
      word-wrap: break-word;
      cursor:pointer;
    }
    .depts{left:20px;
    }
    .col-lg-6:hover{border-color: #EDB111;
        background-color: #f9e7b7;
    }
    .info_1{font-size: 1.5rem;
    line-height: 1.7;}
    .alumni{font-size: 4rem;
      text-align: center;
      text-decoration: underline;
      padding-top: 2rem;
    color:#98002E; }
    .card{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 30px 50px;
      text-align: center;
      color: #EDB111;
        cursor:pointer;
    }
    .grey{background-color: #f3f3f3;}
    
    .alumni_img{height: 250px;
    width:100%;}
    .foot{background-color:#98002E;
    color: white;
    text-align: center;}
    h2{padding: 25px;}
    p{line-height: 1.8;
    font-size: 1.2rem;}
    i{color: #EDB111;
    padding: 0 15px;
    }
    i:hover{animation:shake 1s;}
    @keyframes shake{0%{transform: rotate(0deg);}
    25%{transform: rotate(30deg);}
    50%{transform: rotate(-30deg);}
    100%{transform: rotate(0deg);}}
    
    .flip-card{perspective: 1000px;
    height: 330px;
    }
    .flip-card-inner{position: relative;
    width:auto;
    height:100%;
    text-align: center;
    transition: transform 1s;
    transform-style:preserve-3d;}
    
    .flip-card:hover .flip-card-inner{
      transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back{
    position: absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    }
    .flip-card-back{background-color: #edb111;
    color: white;
    padding-top:100px;
    transform:rotateY(180deg); }