body
{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#score{
    display: inline-block;
}
div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;
}
