* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    min-height: 100vh;
}

label {
    position: relative;
    top: -150px;
    width: 150px;
    height: 75px;
    background: #212121;
    border-radius: 10px;
}