body{
    background-image: url("images/tabla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 8%;
    text-align: center;
    color: white;
  }
  h1{
  font-family: 'Courgette', cursive;
  font-size: 5rem;
  text-shadow: 3px 0 #ff9234;
  color:  #303960 ;
  text-decoration: underline;
  text-decoration-color: #303960;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 5px solid #cf7500;
  background-image: linear-gradient( #ec823a, #f8b24f  );
  text-shadow: 2px 0 1px #e84a5f;
  }
  p{
    color: #ff9234;
    font-size: 2rem;
  }
  footer{
    margin: 20;
    padding: 100px;
    color: #ff9234;
    text-shadow: 1px 0 1px #fff;
    font-size: 1.3rem;
  }
  .btn{
    outline: none;
    border: 5px solid #cf7500;
    background-image: radial-gradient( #f8b24f , #ec823a );
    font-size: 4rem;
    text-shadow: 2px 0 1px #e84a5f;
    border-radius: 20px;
    font-family: 'Courgette',cursive;
    padding: 10px;
    width: 130px;
    height: 130px;
    color: #303960 ;
    margin: 1.5rem 1rem 0;
    display: inline-block;
  
  }
  .tabla-buttons{
    margin-top: 20px;
  }
  .pressed{
    box-shadow:0 4px 5px 0 #f8b24f;
    opacity: 0.5;
  }
  