.reset-password {
  .form-page {
    .container {
      .main {
        .title {
          margin-top: 2rem;
          font-weight: 400;
          margin-bottom: 0;
        }
      }

      .form-container {
        .subtitle {
          font-size: 0.9rem;
        }
        .form-group {
          width: 70%;
          margin: 1rem 0;
        }

        .btn-primary {
          width: 5rem;

          background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

          &:active,
          &:active:focus {
            box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
          }
        }
      }
    }
  }
}
