*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(45deg,#090221,#200c63);
}
form{
    background-color: #ffffff;
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
}
label{
    font-weight: 500;
    color: #101030;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color:#101030;
}
#password{
    margin-bottom: 30px;
}
input[type="password"]{
    border: 2px solid #c2c2c2;
}

input[type="button"]{
    background-color: #18094c;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}
p{
    font-size: 20px;
    margin: 10px 0;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}