body {
    background:  #ECFDF5;
}
h1 {
    color: black;
    font-family: 'Inter';
    filter: drop-shadow(8px 8px 10px black);
    
} 
#al {
    font-family: 'Inter';
    filter: drop-shadow(8px 8px 10px red);
}
h4 {
    color: #6B7280;
    font-family: 'Inter';
    filter: drop-shadow(8px 8px 10px brown);
}
button {
    position: static;
    height: 24px;
    left: 47px;
    top: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px 10px;
    background: lightgreen;
    color: darkgreen;
    font-family: 'Inter';
    font-size: 16px;
    border: green;
    filter: drop-shadow(8px 8px 10px green);
    cursor: pointer;
}
p {
text-align: center;
color: lightgreen;
background: #273549;
padding: 10px;


}