client/node_modules

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build

# misc
.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
