body {
  margin: 0;
  font-family: sans-serif;
    background-color: #fff;
    background-size:  8px 8px, 8px 8px;
    background-position: center, center;
    background-image: linear-gradient(#ebf4f9 1px, transparent 1px),linear-gradient(90deg, #ebf4f9 1px, transparent 1px);
}

.noselect {
  user-select: none;
}

#sunExplorer {
  width: 100%;
  height: 100%;
  position: absolute;
}