* {
  box-sizing: border-box;
}

body {
  background: #fcd1d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* canvas styling */

#canvas {
  border: 4px solid #ef4f4f;
  background: #fff;
}

/* toolbox styling */

.toolbox {
  background-color: #ef4f4f;
  display: flex;
  width: 808px;
  padding: 12px;
}

/* styling every element in toolbox */

.toolbox > * {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 40px;
  width: 40px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  color: black;
  border: 2px solid black;
}

/* styling clear button */

.toolbox > *:last-child {
  margin-left: auto;
  color: white;
  background: #000;
  border: 2px solid white;
}

button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

/* Making website Responsive with media-queries */

@media (min-width: 320px) and (max-width: 375px) {
  #canvas {
    width: 300px;
    height: 250px;
  }
  .toolbox {
    background-color: #ef4f4f;
    display: flex;
    width: 300px;
    padding: 10px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  #canvas {
    width: 330px;
    height: 300px;
  }
  .toolbox {
    background-color: #ef4f4f;
    display: flex;
    width: 330px;
    padding: 10px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  #canvas {
    width: 400px;
    height: 350px;
  }
  .toolbox {
    background-color: #ef4f4f;
    display: flex;
    width: 400px;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #canvas {
    width: 700px;
    height: 400px;
  }
  .toolbox {
    background-color: #ef4f4f;
    display: flex;
    width: 700px;
    padding: 10px;
  }
}
