#fullpage.no-scroll {
	overflow-y: hidden;
	max-height: 100vh;
}

.section {
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}



.section.one {
    background-image: url(model-3.jpg);
}

.section.two {
    background-image: url(model-Y.jpg);
} 

.section.three {
    background-image: url(model-S.jpg);
} 

.section.four {
    background-image: url(model-X.jpg);
} 

.section.five {
    background-image: url(SolarPanels.jpg);
} 

.section.six {
    background-image: url(Solar-Roof.jpg);
} 

.section.seven {
    background-image: url(Accessories.jpg);
} 



.content{
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
}

.title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title_bottom{
    font-size: 1.5rem;
    font-weight: 500;
    
}


.title_bottom a {
    color: inherit;
}

.title_bottom a:hover {
    text-decoration: underline;
}




:root {
	--primary-color: #181b21;
	--secondary-color: #5c5d61;
}



.action_content{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.action_btn {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 2rem;
    flex-basis: 80%;
    margin-bottom: 1rem;
	text-transform: capitalize;
}


.first_button {
	background: rgba(23, 26, 42, 0.8);
	color: white;
}

.second_button {
	background: rgba(255, 255, 255, 0.65);
	color: var(--primary-color);
}









.header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.middle_header {
    display: flex;
    align-items: center;
}

.left_header{
    display: block;
    overflow: hidden;
    padding: 0 2rem;
}

.header_logo{
    height: 100%;
    width: 13rem;
}

.right_header {
    margin: auto 0;
    margin-right: 1rem;
}

.nav_button{
    display: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    color: var(--primary-color);
    border-radius: 1.5rem;
    text-transform: capitalize;
    transition: background 0.3s linear;
}

.nav_button:hover {
    background: #0000001c;
}

.nav_button.menu_btn{
    display: inline-block;
}

.middle_header .nav_button{
    margin-right: 2rem;
}





.navigation{
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 35rem;
    height: 100%;
    z-index: 10;
    background: white;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75); 
}

.navigation.is--active {
	transform: translateX(0);
}

.navigation ul{
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
}

.navigation ul li {
    width: 100%;
    padding: 1.2rem 0;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: background-color 0.33s ease;
}

.nav_link {
    color: #393c41;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.navigation ul li:hover {
    background: #0000000d;
}

.close__btn__container {
    text-align: right;
    margin: 2rem 3rem;
}

.crose_button {
    width: 3rem;
    cursor: pointer;
}


.blur_background{
    display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1rem);
	transition: display 0.4s ease;
}

.blur_background.is--active {
	display: block;
}





.footer{
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
}

.footer ul {
	width: 80%;
	margin: 2rem auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
    list-style-type: none;
}

.footer ul li {
	margin: 0 1rem;
	margin-top: 1rem;
	text-transform: capitalize;
	font-weight: 600;
}

.footer ul li a {
	color: var(--secondary-color);
	font-size: 1.2rem;
}





@media screen and (min-width: 600px) {


    .action_btn{
        max-width: 30rem;
		padding: 1.5rem;
		flex-basis: 40%;
    }


    .action_content{
        justify-content: space-evenly;
    }
}
   

@media screen and (min-width: 900px) {
	.action_content {
		width: 70%;
	}

	.footer ul {
		width: 70%;  
	}
}


@media screen and (min-width: 1200px) {
	.nav_button {
		display: inline-block;
	}

	.left_header {
		padding: 0 2rem;
		margin: 0 3rem;
	}

	.right_header {
		margin: auto 2rem;
	}

	.middle_nav_links {
		display: none;
	}

	.action_content {
		width: 60%;
	}

	.footer ul {
		width: 50%;
	}
}

@media screen and (min-width: 1600px) {
	.footer ul {
		width: 40%;
	}

	.action_content {
		width: 50%;
	}
}
