@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #FEFEFF;
}

.user-profile {
    background-color: #dcdcdc;
    margin-top: 6%;
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4)0px 30px 90px;
}

.profile-top {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    padding: 1rem;
    text-align: center;
    color: white;
}

.profile-top img {
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile-top .profile-info {
    margin-top: 1rem;
}

.profile-bottom {
    padding: 3rem 3rem 1rem 3rem;
}

.profile-bottom .profile-info {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s ease;
}

.profile-bottom .profile-info .material-icons {
    margin-right: 0.5rem;
    color: gray;
}

.profile-bottom .profile-info:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

button {
    margin-top: 2rem;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s ease;
}

button:hover {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #fff;
}