<div id="form" class="center">
  <form id="login_form">
    <fieldset>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="Username" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Password" />
    </fieldset>

    <button id="btn_submit" title="login">
      Login
    </button>

  </form>
</div>

<div id="error" class="alert center">
  <p>
    <strong>Oops!</strong>
    Your username or password were incorrect.
  </p>
</div>

<div id="success" class="alert center">
  
</div>