* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato" , sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
}
.login-div {
     width: 400px;
     height: 580px;
     padding: 60px 35px 35px 35px;
     border-radius: 40px;
     background-color: #ecf0f3;
     box-shadow: 13px 13px 20px #cbced1,
     -13px -13px 20px #fff;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #cbced1,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #fff;
}
.img{
    width: 100px;
    height: 100px;
}
.title {
    text-align: center;
    font-size: 28px;
    padding: 20px;
    letter-spacing: 0.5px;
}
.fields {
    width: 100%;
    padding: 40px 5px 5px 5px;
}
.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 10px 5px;
}
.username,
.password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #fff;
}
.fields svg{
    height: 22px;
    margin: 0 10px -3px 25px;
}
.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato" , sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1,-3px -3px 8px #fff;
    transition: all 0.5s;
}
.signin-button:hover {
    background-color: #50e5b9;
}
.signin-button:active {
    background-color: #88ef9e;
}
.link {
    padding-top: 20px;
    text-align: center;
}
.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}

/* sign Up */

.fields-signup {
    width: 100%;
    padding: 30px 5px 5px 5px;
}
.fields-signup input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 15px 10px 10px 5px;
}
.email {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #fff;
}
.signup-button {
    margin-bottom: -13px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato" , sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1,-3px -3px 8px #fff;
    transition: all 0.5s;
}
.signup-button:hover {
    background-color: #50e5b9;
}
.signup-button:active {
    background-color: #88ef9e;
}
.fields-signup svg{
    height: 22px;
    margin: 0 10px -3px 25px;
}