.App{
  text-align: center;
}

.frame{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  margin: 5em 0;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.card{
  border-radius: 2em;
  padding: 0 1em;
  background-color:#818181 ;
}

.controller {
 background: #555;
 margin: 0 1em;
 border: 1px solid;
 height: 3em;
 width: 3em;
 border-radius: 100%;
 background: transparent;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.control-button{
  height: 3em;
  width: 15em;
  background-color:#eee ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.control-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pannel{

}