<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div> 
    <!-- <div class="squares square5"></div> -->
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-12">
          <carousel [showIndicators]="false">
            <slide>
              <img
                alt="First slide"
                class="d-block w-100"
                src="assets/img/mark-finn.jpg"
                style="width: 450px;" 
                style="height: 500px;"
              />
            </slide>
            <slide>
              <img
                alt="Second slide"
                class="d-block w-100"
                src="assets/img/chester-wade.jpg"
                style="width: 450px;" 
                style="height: 500px;"
              />
            </slide>
            <slide>
              <img
                alt="Third slide"
                class="d-block w-100"
                src="assets/img/denys.jpg"
                style="width: 450px;" 
                style="height: 500px;" 
              />
            </slide>
          </carousel>
        </div>
      </div>  
    </div>
  </div>
  </div>