:root {
  --backround-color: #011f4b;
  --primary-color: #6497b1;
  --secondary-color: #c51f5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--backround-color);
  line-height: 1.4;
  font-family: "Roboto";
  color: #fff;
  padding-bottom: 50px;
}

.main-header {
  font-family: "Montserrat";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  color: #f4f4f4;
}

.main-header h3,
.main-header h1 {
  font-weight: 300;
}

.main-header h1 {
  font-size: 3rem;
  padding: 10px 0;
}

/* Top Down Arrow */
.main-header .down-arrow {
  background: var(--primary-color);
  width: 300px;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 40px;
  position: relative;
}
.main-header .down-arrow::before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  height: 0;
  width: 0;
  border: solid;
  border-width: 19px 150px 0 150px;
  border-color: var(--primary-color) transparent transparent transparent;
}

#timeline ul {
  list-style: none;
  margin-top: 50px;
}

/* Central Line */
#timeline ul li {
  position: relative;
  width: 0;
  border-left: 6px dotted var(--primary-color);
  margin: 0 auto;
}

/* Dots */
#timeline ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fafafa;
  transition: background 1s ease-in-out;
}

/* Year */
#timeline ul h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0 10px;
}

/* Boxes &  Bottom Text */
#timeline ul li > div {
  width: 350px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}
#timeline ul li > div p {
  padding-top: 20px;
}
#timeline ul li:nth-child(2n + 0) > div {
  margin-left: 70px;
  transform: translateX(60px);
}
#timeline ul li:nth-child(4n + 0) > div {
  margin-left: -414px;
  transform: translateX(-60px);
}
#timeline ul li > div > div  {
  position: relative;
  top: -14px;
  background: var(--secondary-color);
  width: 350px;
  padding: 5px 10px;
}
/* Top boxes arrows */
#timeline ul li > div:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-style: solid;
}
#timeline ul li:nth-child(2n + 0) > div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}
#timeline ul li:nth-child(4n + 0) > div:before {
  transform: translateX(365px);
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes */
#timeline ul li.show > div {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#timeline ul li.show:before {
  background: var(--secondary-color);
}

@media (max-width: 900px) {
  #timeline ul li > div,
  #timeline ul li > div > div {
    width: 200px;
  }
  #timeline ul li:nth-child(4n + 0) > div {
    margin-left: -264px;
  }
  #timeline ul li:nth-child(4n + 0) > div:before {
    transform: translateX(215px);
}

@media (max-width: 600px) {
  .main-header h1 {
    font-size: 2rem;
  }
  #timeline ul li {
    margin: 0 50px;
  }
  #timeline ul li > div,
  #timeline ul li > div > div {
    width: calc(100vw - 170px);
  }
  #timeline ul h3 {
    text-align: unset;
    padding-left: 30px;
  }
  #timeline ul li:nth-child(4n + 0) > div {
    margin-left: 70px;
    transform: translateX(60px);
  }
  #timeline ul li:nth-child(4n + 0) > div:before {
    transform: translateX(0);
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
  #timeline ul li.show > div {
    transform: none;
  }
}
