html{
    height: 100%;
}
body{
    background-color: #d2f561;
    text-align: center;
    color: #efefef;
    overflow-x: hidden;
    height: 100%;
    /* #C48943 */
}
input{
    background-color: #d2f561;
    border-radius: 5px;
    padding: 0 6px;
    margin-bottom: -20px;
    margin-top: 20px;
    color: #bd0a0a;
    border:  none;
    height: 46px;
    width: 200px;
    font-size: 20px;
}
input:focus, input:active{
    border-color: #a80690;
    outline-color: #a80690;
}
button{
    box-shadow: none;
    border:  none;
    border-radius: 5px;
    height: 50px;
    
}

.box{
    background-color: rgba(44, 69, 107, 0.5);
    box-shadow: -10px 5px 30px rgb(0 0 0 / 50%);
    border-radius: 15px;
    margin-top: 50px;
    padding: 30px;
}

h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color:#bd0a0a;
}