@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;

	background: linear-gradient(46deg, #9800ff, #ff00ea, #ff6700, #00c5ff);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

.pg{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 6px 11px;
	background-color: black;
	color: white;
	border-radius: 100px;
}


input{
	display: none;
}
img{
	width: 100%;
	height: 100%;
}
.book{
	display: flex;
}
#cover{
	width: 2000px;
	height:2700px;
	position: relative;
}
.flip-book{
	width: 2000px;
	height: 2700px;
	position: relative;
	perspective: 4500px;
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: 1s;
	color: #000;
}

.ul{
	font-size:20px
}
.header{
	border: 2px solid rgb(0, 0, 0);
	border-radius: 5px;
	margin: 10px 20px;
	color: #00008B;
	padding: 5px 1px ;
	font-size: 100px;
	display: flex;
	justify-content: center;
	}
	
	.bodyy{
		border: 2px solid rgb(0, 0, 0);
		border-radius: 5px;
		margin: 10px 20px;
		padding: 5px 1px;
		display: flex;
		justify-content: center;
		font-size: 100px;
		height: 75vh;
		}
		.footer{
			border: 2px solid rgb(0, 0, 0);
			border-radius: 5px;
			margin: 10px 20px;
			padding: 5px 1px ;
			color: #000000;
			display: flex;
		justify-content: center;
		font-size: 100px;
	
			}

p{
	font-size: 14px;
	line-height: 24px;
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #000;
}
.front-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: rgb(0, 0, 0);
    font-size: 50px;
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #fff;
    font-size: 50px;
}
#p1{
	z-index: 4;
}
#p2{
	z-index: 3;
}
#p3{
	z-index: 2;
}
#p4{
	z-index: 1;
}
#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}
#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 4;
}

.frontpg{
	font-size: 80px;
	text-align: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

@media (max-width:4700px) { 
	#cover{
		width: 1500px;
		height:2100px;
	}
	.flip-book{
		width: 1500px;
		height: 2100px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 5px 1px ;
		font-size: 74px;
		}
		
		.bodyy{
			padding: 5px 1px ;
			font-size: 74px;
			}
			.footer{
				padding: 5px 1px ;
				font-size: 74px;
				}
}

@media (max-width:4600px) {
	#cover{
		width: 1700px;
		height:2500px;
	}
	.flip-book{
		width: 1700px;
		height: 2500px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 5px 1px ;
		font-size: 68px;
		}
		
		.bodyy{
			padding: 5px 1px ;
			font-size: 68px;
			}
			.footer{
				padding: 5px 1px ;
				font-size: 68px;
				}
}

@media (max-width:3700px) {
	#cover{
		width: 1500px;
		height:2200px;
	}
	.flip-book{
		width: 1500px;
		height: 2200px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 5px 1px ;
		font-size: 62px;
		}
		
		.bodyy{
			padding: 5px 1px ;
			font-size: 62px;
			}
			.footer{
				padding: 5px 1px ;
				font-size: 62px;
				}
	.back-btn ,.front-btn{
		font-size: 40px;
	}
}

@media (max-width:3100px) {
	#cover{
		width: 1000px;
		height:1400px;
	}
	.flip-book{
		width: 1000px;
		height: 1400px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 5px 1px ;
		font-size: 50px;
		}
		
		.bodyy{
			padding: 5px 1px ;
			font-size: 48px;
			}
			.footer{
				padding: 5px 1px ;
				font-size: 50px;
				}
	.back-btn ,.front-btn{
		font-size: 35px;
	}
}

@media (max-width:2500px) {
	#cover{
		width: 800px;
		height:1100px;
	}
	.flip-book{
		width: 800px;
		height: 1100px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 5px 1px ;
		font-size: 40px;
		}
		
		.bodyy{
			padding: 5px 1px ;
			font-size: 37px;
			}
			.footer{
				padding: 5px 1px ;
				font-size: 40px;
				}
	.back-btn ,.front-btn{
		font-size: 30px;
	}
}

 /* 75%  */
 @media (max-width:2100px) {
	#cover{
		width:700px;
		height:950px;
	}
	.flip-book{
		width: 700px;
		height: 950px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 5px 1px ;
		font-size: 35px;
		}
		
		.bodyy{
			padding: 5px 1px ;
			font-size: 32px;
			}
			.footer{
				padding: 5px 1px ;
				font-size: 35px;
				}
				.back-btn ,.front-btn{
					font-size: 22px;
				}
}


@media (max-width:2000px) {
	#cover{
		width:600px;
		height:850px;
	}
	.flip-book{
		width: 600px;
		height: 850px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 30px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 27px;
			height: 70vh;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 30px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}
}
/* 90% */
@media (max-width:1800px) {
	#cover{
		width:600px;
		height:800px;
	}
	.flip-book{
		width: 600px;
		height: 800px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 27px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 27px;
			height: 74vh;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 27px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}
}


@media (max-width:1600px) {
	#cover{
		width:500px;
		height:700px;
	}
	.flip-book{
		width: 500px;
		height: 700px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 23px;
		margin: 5px 15px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 23px;
			height: 74vh;
			margin: 5px 15px;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 23px;
				margin: 2px 10px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}
}


@media (max-width:1200px) {
	#cover{
		width:500px;
		height:900px;
	}
	.flip-book{
		width: 500px;
		height: 900px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 20px;
		margin: 5px 15px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 20px;
			height: 74vh;
			margin: 5px 15px;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 20px;
				margin: 2px 10px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}
}
@media (max-width:1000px) {
	#cover{
		width:400px;
		height:800px;
	}
	.flip-book{
		width: 400px;
		height: 800px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 20px;
		margin: 5px 15px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 20px;
			height: 74vh;
			margin: 5px 15px;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 20px;
				margin: 2px 10px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}	
}

@media (max-width:700px) {
	#cover{
		width:500px;
		height:800px;
	}
	.flip-book{
		width: 500px;
		height: 800px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 14px;
		margin: 5px 15px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 14px;
			height: 74vh;
			margin: 5px 15px;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 14px;
				margin: 2px 10px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}
}

@media (max-width:420px){
	#cover{
		width:400px;
		height:700px;
	}
	.flip-book{
		width: 400px;
		height: 700px;
		position: relative;
		perspective: 4500px;
	}
	.header{
		padding: 2px 1px ;
		font-size: 14px;
		margin: 5px 15px;
		}
		
		.bodyy{
			padding: 2px 1px ;
			font-size: 14px;
			height: 74vh;
			margin: 5px 15px;
			}
			.footer{
				padding: 2px 1px ;
				font-size: 14px;
				margin: 2px 10px;
				}
				.back-btn ,.front-btn{
					font-size: 20px;
				}	
}