:root {
    --formColor: #ee9b00;
    --backgroundColor: #1d3557;
    --buttonColor: #eae2b7;
    --inputColor: #fefae0;
}

body {
    background-color: var(--backgroundColor);
}
section{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}
section::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:#1d3557;
}
.form-container{
    width: 52%;
    height: 52%;
    margin: auto;
    border: solid var(--formColor) .1rem ;
    background-color: var(--formColor);
    padding: 2rem;
    transform: translate(0%, 40%);
    border-radius: .35rem;
    box-shadow: 3px 3px black;
}

.form-container h1 {
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
    -webkit-text-stroke-width: .03rem;
    background: -webkit-linear-gradient(#012a4a,#8c7da0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row {
    margin-bottom: 1rem;
}

.col-auto button {
    background-color: var(--buttonColor);
}

.col-auto button:hover{
    background: -webkit-linear-gradient(#fcbf49, #eae2b7);
}

.form-control {
    background-color: var(--inputColor);
} 
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: none;

}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}