h1{
    display:flex;
    justify-content: center;
    margin: 10px;
    margin-top: 10px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    border-radius: 10px ;
    border: 3px solid black;
    background-color: rgb(209, 202, 202);
}
.btn{
    padding: 7px 10px;
    border: 3px solid black;
    background-color:rgb(196, 185, 185);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 6px;
    font-size: 15px;
}