@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  background: url(../../assets/ques1.png);
  min-height: 97.5vh;
  border: 8px solid #39445a93;
  margin: 5px;
  padding: 5px;
}
