.fa-stumbleupon{
    color: white;
    font-size: 30px;
}
.fa-volume-down,.fa-record-vinyl,.fa-dot-circle,.fa-microphone,.fa-headphones,.fa-redo,.fa-folder,.fa-record-vinyl{
    color: white;
    font-size: 12px;
    margin-right: 1.4em;
}
.likeheart{
    color:  #1DB954 ;
    font-size: 13px;
    margin-right: 1.4em;
}
.fa-laptop{
    /* color: rgb(122, 122, 204); */
    color: #5C5CFF;
}
.fa-bolt{
    color: #5C5CFF;
    font-size: 12px;
    margin-right: 1.4em;
}
.fa-play{
    color: #5C5CFF;
    font-size: 7px;
}
.col{
    color: grey;
}
.reddingcolor{
    color: crimson;
}
.fa-pause{
    color: #5C5CFF;
    font-size: 7px;
}