@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
*{
    margin: 0px ;
    padding: 0px ;
}

#navbar{
    display: flex;
    background-color: black;
    position: sticky;
    top:0px;
    left: 0px;
}
#navbar img{
    height: 71px;
    margin: 8px 19px;
    border-radius: 42px;
    width: 71px;
    transition: all 0.5s ease-in-out;
}
.item{
   
    display: flex;
}
#navbar img:hover{
    transform: rotate(360deg);
}
#navbar li{
    list-style: none;
    padding: 27px 36px;
    font-size: 25px;
    font-weight: bold;
}
#navbar li a{
    font-family: 'Bitter', serif;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
#navbar li a:hover {
    color: grey;
}
.container{
    border: 4px solid black;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    width: 80%;
    padding: 20px 0px;
    margin: 48px auto;
    background-color: white;
    opacity: 0.7;
}
body{
    background: url("../img/service.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
}
h1{
    font-family: 'Bitter', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 25px 0px;
    text-align: center;
}
p{
    color: #0c09d1;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 21px;
    font-weight: bold;
    padding: 9px 18px;
    text-align: center;
}
@media only screen and (max-width:1328px) {
    #navbar li {
        font-size: 28px;
        list-style: none;
        padding: 13px 16px;
    } 
     #navbar img {
        height: 64px;
        margin: 3px 19px;
    }
    #navbar li a {
        padding: 0px 0px ;
    }
    .item{
        justify-content: center;
        flex-wrap: wrap;
    }
    body {
        width: 100%;
    }
    #navbar{
        flex-direction: column;
        align-items: center;
    }
}