@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
*{
    margin: 0px ;
    padding: 0px ;
}
body{
    background: url("../img/logo2.jpg") no-repeat center ;
    background-size: cover;
    background-blend-mode: darken;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    background-color: black;
    position: sticky;
    top:0px;
    left: 0px;
}
.item{
    display: flex;
}
#navbar img{
    height: 71px;
    margin: 8px 19px;
    border-radius: 42px;
    width: 71px;
    transition: all 0.5s ease-in-out;
}
#navbar img:hover{
    transform: rotate(360deg);
}
#navbar li{
    list-style: none;
    padding: 27px 36px;
    font-size: 25px;
    font-weight: bold;
}
#navbar li a{
    font-family: 'Bitter', serif;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
#navbar li a:hover {
    color: grey;
}


.container{
    border: 4px solid black;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    width: 80%;
    padding: 20px 0px;
    margin: 48px auto;
    background-color: white;
    opacity: 0.7;
}
.container1 h1 {
    font-family: 'Bitter', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 25px 0px;
}

.container1 p {
    color: #0c09d1;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 21px;
    font-weight: bold;
    padding: 9px 18px;
}
.container1 {
    text-align: center;
}

.container2 {
    text-align: center;
}

.container2 h1 {
    font-family: 'Bitter', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 25px 0px;
}

.container2 p {
    color: #0c09d1;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 21px;
    font-weight: bold;
    padding: 9px 18px;
}
.container3 h1 {
    font-family: 'Bitter', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 25px 0px;
    text-align: center;
}

.container3 h2 {
    font-weight: bold;
    font-family: 'Bitter', serif;
    padding: 16px 15px;
}

.container3 li {
    font-weight: bold;
    color: #0c09d1;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 8px 25px;
    font-size: 17px
}
#container4 h1 {
    font-family: 'Bitter', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 25px 0px;
    text-align: center;
}

#container4>h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bitter', serif;
    margin: 10px;
}

#container4>li {
    font-weight: bold;
    color: #0c09d1;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 13px;
    font-size: 17px;
}
.play{
    margin: 50px auto;
    border: 4px solid black;
    width: 80%;
    border-radius: 17px 17px 0px 0px; 
}
.play iframe{
        margin: 0px 0px;
        width: 100%;  
}
.play h1{
    color:black;
    font-family: 'Bitter', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    padding:12px 0px;
    text-align: center;
}
@media only screen and (max-width:1328px) {
    #navbar li {
            font-size: 28px;
            list-style: none;
            padding: 4px 25px;
    }
    #navbar li a {
        padding: 0px 0px ;
    }
    
    .play iframe {
        width: 100%;
        margin: 0px auto;
    }
    .item {
        justify-content: center;
        flex-wrap: wrap;
    }
    body {
        width: 100%;
    }
    #navbar img {
        height: 64px;
        margin: 3px 19px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

