*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(yellow,rgb(243, 167, 190));
}
.content{
  height: 400px;
  width: 750px;
  position: relative;
}
.content .images{
  height: 100%;
  width: 100%;
}
.content .images img{
  height: 100%;
  width: 100%;
}
.btm-slides{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btm-slides span{
  height: 15px;
  width: 50px;
  border: 2px solid white;
  margin: 0 3px;
  cursor: pointer;
}
.sliders{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  cursor: pointer;
  border: 2px solid white;
  background: rgba(255,255,255,0.1);
}
.sliders:hover{
  background: rgba(255,255,255,0.2);
}
.right{
  right: 0;
}
.sliders span{
  line-height: 41px;
  font-size: 35px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .content
 {
    border-radius: 0;
  }
}

@media only screen and (max-width: 650px) {
  .content
 {
    border-radius: 0;
  }
}