.body {
  font-family: "Montserrat";
  text-align: center;
}



h1, h2, h3 {
  font-family: "Montserrat";

}
p {
  color: #8f8f8f;
}

/* Headings */

.big-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-head {
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.color {
  background-color: #ff4c68;
  color: #fff;
}
.white {
  background-color: #fff;
}

/* Navigaton Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding-bottom: 4.5rem;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
}
#title {
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* Features */

#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}
.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-text {
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
}
.sub {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;

}
.press-logo {
  right: 30%;
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3.5rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0deg);
  }

}

/* Footer */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}
