@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: rgb(209, 207, 219);
  background-color: rgb(205, 215, 212);

}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(207, 205, 235);
  background-color: rgb(183, 202, 196);

}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 6px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(213, 235, 228);
}