:root {
  --background: #f0f2f5;
  --white1: #ffffff;
  --white2: #dde2e7;
  --white3: #4e4f5080;
  --white4: #ceced6;
  --dark1: #606264;
  --dark2: #0f0d0d;
  --blue1: #297be5;
  --scrollBar: #656768;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.svg {
  width: 30px;
  height: 30px;
}

.svg img {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  height: 60px;
  width: 100%;
  background: var(--white1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  padding: 0 16px;
}

.header .logoSearch {
  height: 100%;
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

.header .logoSearch .logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#20afff), to(#0072e0));
  background: linear-gradient(#20afff, #0072e0);
}

.header .logoSearch .logo i {
  color: #ffffff;
  font-size: 35px;
}

.header .logoSearch .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white2);
  border-radius: 22px;
  width: 240px;
  height: 40px;
  padding: 0 11px;
}

.header .logoSearch .search .svg {
  width: 22px;
}

.header .logoSearch .search input {
  color: var(--dark1);
  font-size: 14px;
  outline: none;
  border: none;
  padding: 0 6px;
  background: none;
}

.header .logoSearch .search input::-webkit-input-placeholder {
  color: var(--dark1);
}

.header .logoSearch .search input:-ms-input-placeholder {
  color: var(--dark1);
}

.header .logoSearch .search input::-ms-input-placeholder {
  color: var(--dark1);
}

.header .logoSearch .search input::placeholder {
  color: var(--dark1);
}

.header .mainMenu {
  width: 700px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.header .mainMenu .svg {
  width: 125px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .mainMenu .svg img {
  width: 28px;
}

.header .mainMenu .svg::before {
  content: "";
  background: var(--white2);
  position: absolute;
  bottom: -5px;
  background: var(--blue1);
  width: 0;
  height: 3px;
}

.header .mainMenu .svg:hover {
  background: var(--white2);
}

.header .mainMenu .svg.active::before {
  width: 100%;
}


.header .profileTools .profile .img {
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header .profileTools .profile .username {
  font-weight: 700;
  padding-left: 5px;
  color: var(--dark2);
}

.header .profileTools .profile:hover {
  background: var(--white2);
}

.header .profileTools .tools {
  width: 180px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .profileTools .tools .svg {
  width: 40px;
  height: 40px;
  background: var(--white2);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .profileTools .tools .svg img {
  width: 18px;
}

.header .profileTools .tools .svg:hover {
  background: var(--white3);
}

.sideBarContainer {
  position: fixed;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-top: 8vh;
  height: 95vh;
  width: 1460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sideBar {
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--background) var(--background);
}

.sideBar::-webkit-scrollbar {
  width: 10px;
}

.sideBar::-webkit-scrollbar-track {
  background: var(--background);
}

.sideBar::-webkit-scrollbar-track:hover {
  background: var(--white1);
}

.sideBar:hover::-webkit-scrollbar-thumb {
  background: var(--scrollBar);
  border-radius: 5px;
}

.sideBar:hover {
  scrollbar-color: var(--white1) var(--background);
}

.left {
  padding-top: 20px;
}

.left:hover .mainTitle a {
  visibility: visible;
}

.right {
  padding-top: 22px;
}

.globalProfile {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding-left: 12px;
  margin: 3px 0;
  width: 100%;
  height: 50px;
}

.globalProfile:hover {
  background: var(--white4);
}

.globalProfile:hover .circle {
  background: #444547;
}

.globalProfile .circle {
  background: var(--white4);
}

.globalProfile .name {
  font-weight: 600;
  color: black;
  margin-left: 8px;
  font-size: 16px;
}

.header .profileTools {
  height: 100%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .profileTools .profile {
  cursor: pointer;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 42px;
  padding: 0 5px;
}

.globalRoundProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.globalRoundProfile .active {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #31a25c;
  border: 2.4px solid var(--white1);
}

.globalProfileSmall {
  width: 95%;
  height: 36px;
}

.globalProfileSmall .name {
  font-size: 12px;
  color: var(--dark1);
}

.globalProfileSmall .svg {
  width: 18px;
  height: 18px;
}

.mainTitle {
  width: 100%;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainTitle h3 {
  color: #82858b;
  font-weight: 500;
  font-size: 18px;
}

.globalRoundProfile i {
  position: absolute;
  color: black;
  font-size: 20px;
}

.globalRoundProfile span {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.globalRoundProfile:hover span {
  background: #ffffff22;
}

.mainTitle i {
  color: var(--dark1);
  font-size: 14px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mainTitle i:hover {
  background: var(--white3);
}

.mainTitle a {
  text-decoration: none;
  visibility: hidden;
  color: var(--blue1);
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 10px;
}

.mainTitle a:hover {
  background: var(--white2);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 1px solid var(--white3);
  padding-bottom: 5px;
}

.padding {
  padding: 20px 0 5px 10px;
}

.r-10 {
  border-radius: 10px;
}

.borderNone {
  border: none;
}

.sectionCenter {
  position: relative;
  top: 80px;
  width: 700px;
  height: auto;
  margin: auto;
  z-index: 888;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  width: 100%;
}

.story .cover {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  position: relative;
  background: #888888;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.story .cover .pro {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  z-index: 1;
}

.story .cover h3 {
  z-index: 1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.story .cover .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.story .cover .bg:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.story .cover .bg:hover span {
  background: rgba(0, 0, 0, 0.4);
}

.story .cover .bg span {
  position: absolute;
  width: 100%;
  height: 100%;
}

.story .cover .create {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 40%;
  background: var(--white1);
  bottom: 0;
  left: 0;
}

.story .cover .create h3 {
  color: black;
}

.story .cover .create .svg {
  margin: -16px 0 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid var(--white1);
  background: var(--blue1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.story .cover .create .svg img {
  width: 20px;
  height: 20px;
}

.createPost {
  margin-top: 28px;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background: var(--white1);
}

.createPost .input {
  width: 95%;
  height: 67px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--white3);
}

.createPost .input .post {
  width: 90%;
  height: 42px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  line-height: 40px;
  color: var(--dark1);
  border-radius: 20px;
  background: var(--white2);
  line-height: 42px;
  padding-left: 10px;
}

.createPost .input .post:hover {
  background: var(--white3);
}

.createPost .buttons {
  width: 95%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 5px;
}

.createPost .buttons span {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.createPost .buttons span:hover {
  background: var(--white2);
}

.createPost .buttons span .svg {
  width: 24px;
}

.createPost .buttons span h4 {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500px;
  color: var(--dark1);
}

.rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 100px;
  background: var(--white1);
  margin-top: 20px;
  border-radius: 10px;
}

.rooms .title {
  width: 94%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.rooms .title .left {
  height: 30px;
  width: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rooms .title .left .fa-video {
  color: #c34bb4;
}

.rooms .title .left h3 {
  color: var(--dark2);
  font-size: 15px;
}

.rooms .title .left p {
  font-size: 14px;
  color: var(--dark1);
}

.rooms .title .left i {
  color: var(--white3);
}

.rooms .title .right a {
  text-decoration: none;
  color: var(--blue1);
}

.rooms .profiles {
  width: 700px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-bottom: 12px;
  margin-top: 10px;
}

.rooms .profiles .globalRoundProfile {
  width: 41px;
  height: 41px;
  margin-right: 11px;
  cursor: pointer;
  position: relative;
}

.rooms .profiles .globalRoundProfile .darkSpan {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.rooms .profiles .globalRoundProfile .svg {
  position: absolute;
  width: 20px;
  z-index: 1;
}

.mainPosts {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background: var(--white1);
}

.mainPosts .title {
  width: 95%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  color: var(--dark1);
}

.mainPosts .title .profile {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPosts .title .profile .name {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainPosts .title .profile .name a {
  font-weight: 500;
  text-decoration: none;
  color: var(--dark2);
}

.mainPosts .title .profile .name span {
  margin-top: 5px;
  font-size: 12px;
  color: var(--dark1);
}

.mainPosts .description {
  width: 95%;
  margin: auto;
  color: var(--dark2);
}

.mainPosts .post {
  width: 100%;
  height: 375px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}

.mainPosts .reaction {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  cursor: pointer;
}

.mainPosts .reaction .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPosts .reaction .icons .svg {
  width: 20px;
}

.mainPosts .reaction a {
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;
  color: var(--dark1);
  margin-left: 8px;
}

.mainPosts .likeShare {
  width: 95%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--white3);
  margin: auto;
}

.mainPosts .likeShare span {
  width: 218px;
  height: 32px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.mainPosts .likeShare span h3 {
  color: #65676b;
  font-size: 15px;
  padding-left: 10px;
}

.mainPosts .likeShare span .svg {
  height: 18px;
}

.mainPosts .likeShare span:hover {
  background: var(--white2);
}

@media (max-width: 1490px) {
  .sideBarWrapper {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .header .logoSearch {
    width: 180px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header .logoSearch .search {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .header .logoSearch .search input {
    display: none;
  }
  .header .mainMenu {
    width: 600px;
  }
  .header .profileTools {
    width: 180px;
  }
  .header .profileTools .profile {
    display: none;
  }
  .header .profileTools .tools {
    width: 100%;
  }
  .sectionCenter {
    width: 650px;
  }
  .story .cover {
    width: 19%;
  }
  .story .cover:nth-child(6) {
    display: none;
  }
}

@media (max-width: 1120px) {
  .header .mainMenu {
    width: 50%;
  }
  .sideBar__left {
    display: none;
  }
  .sideBar__right {
    width: 100%;
  }
  .sectionCenter {
    width: 65%;
    margin-left: 20px;
  }
  .sideBarWrapper {
    width: 30%;
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .story .cover {
    width: 16%;
  }
  .story .cover:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1050px) {
  .story .cover {
    width: 19%;
  }
  .story .cover:nth-child(6) {
    display: none;
  }
}

@media (max-width: 950px) {
  .sideBarWrapper {
    display: none;
  }
  .sectionCenter {
    width: 80%;
    margin: auto;
  }
  .story .cover {
    width: 16%;
  }
  .story .cover:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 850px) {
  .story .cover {
    width: 19%;
  }
  .story .cover:nth-child(6) {
    display: none;
  }
}

@media (max-width: 750px) {
  .header .mainMenu {
    display: none;
  }
  .sectionCenter {
    width: 100%;
  }
  .story .cover {
    width: 16%;
  }
  .story .cover:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 650px) {
  .story .cover {
    width: 19%;
  }
  .story .cover:nth-child(6) {
    display: none;
  }
}

@media (max-width: 550px) {
  .story .cover {
    width: 23%;
  }
  .story .cover:nth-child(5) {
    display: none;
  }
  .createPost .buttons span:nth-child(3) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */