body, html {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
  height: 100%;
  background: #ffcba4;
}

h1{
  color: #f09078;
  text-align: center;
}

button {
  display: block;
  background-color: #f09078;
  color: white;
  width: 7.5%;
  height: 4%;
  margin: 0 auto;
}

#app {
  background: #263238;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  
}
.sidebar {
  background: #eceff1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

@media only screen and (max-width: 400px) {
  #app {
   display: flex;
   flex-direction: column;
  }
  .preview-container {
    display: block;
    margin-bottom: 0;
    height: 100%;
  }
  
  button {
  display: block;
  background-color: #f09078;
  color: white;
  width: 15%;
  height: 8%;
  margin: 0 auto;
}
}

.sidebar h2 {
  font-weight: normal;
  font-size: 1.0rem;
  background: #fde6b6;
  color: black;
  padding: 10px;
  margin: 0;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar li {
  line-height: 175%;
  white-space: nowrap;
  overflow: hidden;
  text-wrap: none;
  text-overflow: ellipsis;
}
.cameras ul {
  padding: 15px 20px;
}
.cameras .active {
  font-weight: bold;
  color: #009900;
}
.cameras a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.cameras a:hover {
  text-decoration: underline;
}
.scans li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.scans-enter-active {
  transition: background 3s;
}
.scans-enter {
  background: peach;
}
.empty {
  font-style: italic;
}
.preview-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  background: white;
}
