html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

.header{
	padding: 2px 2.2%;
	background: linear-gradient(45deg, #ffeb3a,#fffebe,#b7deec, #baedff);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#header-icon{
	border-radius: 6px;
	height: 5%;
	width: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 10px;
}

.header-links{
	position: relative;
	font-weight: bolder;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: inline-block;
	top: -13px;
}

#movies:hover {
  	color: #ffaa64;
}
#tvseries:hover {
  	color: #ffaa64;
}
#audio:hover {
  	color: #ffaa64;
}

#movies{
	margin: 20px;
	text-decoration: none;
	color: black;
}

#tvseries{
	margin: 20px;
	text-decoration: none;
	color: black;
}

#audio{
	margin: 20px;
	text-decoration: none;
	color: black;
}

* {box-sizing:border-box}

.slideshow-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

.dropbtn {
	background-color: gold;
	color: black;
	padding: 10px;
	font-size: 16px;
	border: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
	width: 15%;
	border-radius: 6px;
	line-height: 28px;
	margin-bottom: 3px;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 2.1rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: gold;}

.dropdown:hover .dropdown-content {
	display: block;
	margin-left: 2px;
	border-radius: 3px;
	width: 16%;
}

.search {
	display: inline;
	padding: 11px;
	border: none;
	font-size: 17px;
	position: relative; 
	border-radius: 6px;
	width: 84%;
	text-align: center;
	background-color: gold;
	border: double;
	color: rgb(15, 15, 15);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
	left: -6px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	top: 1px;
	margin-bottom: 15px;
}

.container{
	margin: 0;
	top: -5px;
	padding: 25px;
	background-color: black;
	padding-bottom: 40px;
}

.fa{
	float: right;
	margin-top: 3.5%;
}

.display{
	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-rows: repeat(2,max-content);
	grid-template-columns: repeat(6,max-content);
	justify-content: space-around;
	margin: 4% 0 2.7% 0.8%;
}

.image-display-action{
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-template-columns: min-content;
	margin: 1.4% 0;
}

.image-display-action img{
	grid-row: 1/-1;
	grid-column: 1/-1;
	margin: 0.2%;
}

.image-display-action .movie-display{
	grid-row: 2/span 1;
	grid-column: 1/-1;
	background: #0006;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 0 3px;
	margin: 0;
}

.view{
	color: rgb(15, 15, 15);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
}

.footer{
	padding: 5px 2.2%;
	background: linear-gradient(45deg, #ffeb3a,#fffebe,#b7deec, #baedff);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	overflow: hidden;
	width: 100%;
}

#rights{
	color: rgb(73, 73, 73);
	position: relative;
	display: inline;
	top: -15px;
	left: 60px;
}

#footer-icon{
	width: 58px; 
	height: 40px;
	border-radius: 6px;
	margin: 6px 2px 3px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.after-footer{
	padding: 50px;
	background-color: black;
}

.found{
	background-color: black;
	font-size: 49px;
	text-align: center;
	margin: 0 auto;
	margin-left: 0.8%;
	color: whitesmoke;
	margin-bottom: 5%;
}

.hide{
	display: none;
}
