* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.todo-container {
  width: 600px;
  min-height: 260px;
  margin: 30px auto 0px;
  background-color: rgb(240, 238, 241);
}
.todo-container .add-task {
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 260px;
  padding: 15px;
  background-color: rgb(21, 83, 112);
  position: relative;
}

.todo-container .add-task h1{
  color: whitesmoke;
}
.todo-container .add-task input {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: rgba(57, 130, 215, 0.3);
  width: calc(100% - 15px);
  color: #fff;
  font-size: 20px;
}
.todo-container .add-task input:focus {
  outline: none;
}
.todo-container .add-task .plus {
  position: absolute;
  height: 43px;
  width: 73px;
  top: 146px;
  background-color: rgb(57, 183, 183);
  right: 12px;
  border-radius: 5px;
  line-height: 43px;
  text-align: center;
  color:white;
  cursor: pointer;
  font-size: 40px;
  transition: transform 0.3s ease;
}

.todo-container .tasks-content {
  padding: 5px;
}
.todo-container .tasks-content .no-tasks-message {
  color: #777;
  font-size: 15px;
}
.todo-container .tasks-content > span {
  /* all direct children */
  display: block;
  background-color: rgb(145, 229, 246);
  padding: 10px;
}
.todo-container .tasks-content > span:not(:last-child) {
  /* all direct children except last child */
  margin-bottom: 10px;
}
.todo-container .tasks-content .task-box .delete {
  float: right;
  background-color: #d80909;
  padding: 4px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.todo-container .tasks-content .task-box .edit {
  margin-right: 2%;
  float: right;
  background-color: rgb(7, 150, 38);
  padding: 4px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.todo-container .tasks-content .task-box.finished {
  text-decoration: line-through;
}
.task-stats {
  overflow: hidden;
  margin: 10px auto;
  width: 600px;
  font-size: 12px;
}
.task-stats .tasks-count,
.task-stats .tasks-completed {
  width: 50%;
  float: left;
  padding: 10px;
}
.task-stats .tasks-completed {
  text-align: right;
}
.task-stats .tasks-count span,
.task-stats .tasks-completed span {
  color: #fff;
  padding: 1px 5px;
  font-size: 9px;
  border-radius: 3px;
  font-weight: bold;
}
.task-stats .tasks-count span {
  background-color: #e91e63;
}
.task-stats .tasks-completed span {
  background-color: #03a9f4;

}
