body {
    background-color: rgb(112, 212, 173);
  }
  
  .header-text {
    margin: 0;
    color:blue;
  }
  
  * {
    font-family: sans-serif;
  }
  
  ul {
    display: flex;
    padding-left: 0;
  }
  
  li {
      list-style-type: none;
      align-items: center;
      height: 40px;
      margin-left: 5px;
      margin-right: 5px;
      width: 40px;
      display: flex;
      justify-content: center;
      box-shadow: 0px 1px 3px grey;
  }
  
  .header-text {
    color: dimgray;
  }
  
  .my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .divider {
    background-color: rgb(208, 78, 66);
    height: 2px;
    border: 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
  }
  
  .plate {
    background-color: rgb(166, 227, 237);
    padding: 30px;
    border-radius: 6px;
  }
  
  .form-text {
    border-radius: 6px;
    padding: 10px;
    border: 2px solid lightgray;
    width: 60%;
  }
  
  .form-submit {
      padding: 10px 20px;
      border-radius: 6px;
      background-color: white;
      border: 2px solid lightgray;
      width: 30%;
  }