* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    height: 100%;
    /* background: linear-gradient(to right, #201d2e 50%, #f6f6f6 50%) fixed; */
    background-color: #090221;
}

.container {
    width: 90vmin;
    background-color: #ffffff;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(60, 60, 60, 0.2);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper input {
    width: 60%;
    padding: 10px 5px;
    border-radius: 3px;
    border: 1px solid #201d2e;
}

.wrapper button {
    width: 30%;
    background-color: #201d2e;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 3px;
}

.container p {
    line-height: 35px;
    text-align: justify;
    margin-top: 30px;
}

mark {
    background-color: #ffdd4b;
}