$color-dark: #121212;
$color-primary: #f5cf18;
$color-primary-dark: #c45500;
$color-button-text: rgb(87, 153, 239);
$color-button: rgba(255, 255, 255, 0.8);
$color-dark2: rgba(31, 31, 31, 1);
$color-alpha-white: rgba(255, 255, 255, 0.8);
$color-bg-light: #bbb;
$color-div-light: rgb(237, 237, 236);
$color-text-dark: #333;
$color-text-dark2: #666;
$color-success: #28a745;
