.SideBar{
    margin: 10px;
    height: 720px;
    width: 280px;
    /* background-color: rgb(236, 88, 29); */
    background-color: #2A2D3E;
/* background-image: linear-gradient(274deg, #FAD961 0%, #F76B1C 100%); */

    border-radius: 20px;
}

.sidebar-item{
    display: flex;
    /* justify-content: center; */
    color: white;
    opacity: 0.9;
    /* border: 1px solid black; */
    height: 50px;
    margin: 7px;
    border-radius: 10px;
    /* padding: 8px; */
    cursor: pointer;
    /* margin-left: 30px; */
}

.sidebar-item:hover{
    background-color: rgb(197, 195, 195);
    color: black;
    opacity: 0.9;
}

.Sidebar-heading{
    margin-left: 50px;
}

.heading{
    margin: 0px;
    color: #7ce77a;
    font-size: 27px;
    font-weight: 600;
}

.sidebar-item-title{
    margin-top: -3px;
    margin-left: 13px;
    font-size:20px ;
     font-weight:550;
}